flows.json
[
    {
        "id": "6d278dbe6de7a110",
        "type": "tab",
        "label": "start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e38695607437acd",
        "type": "tab",
        "label": "logger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b196196f1ccccbbb",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7c8565c02c92dbd",
        "type": "tab",
        "label": "weather initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "369c55fe302803f7",
        "type": "tab",
        "label": "savings initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aba327fbb26c5653",
        "type": "tab",
        "label": "production initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dc82d7c84b0491f",
        "type": "tab",
        "label": "weather request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61022c35528d6ffa",
        "type": "tab",
        "label": "savings request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d21f4bda462bb9a5",
        "type": "tab",
        "label": "production request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "746d8aad27723fd7",
        "type": "sqlitedb",
        "db": "~/.node-red/projects/athens-water/data/water.sqlite",
        "mode": "RWC"
    },
    {
        "id": "09a55da13a5eea8d",
        "type": "sqlitedb",
        "db": "athens-water.sqlite",
        "mode": "RWC"
    },
    {
        "id": "37e47c2be4e6d111",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "eydap.gr.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9521260f5086eed6",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "'Start interval (' &\t'weatherLastDate: ' & $globalContext( 'weatherLastDate' )  & \t', savingsLastDate: ' & $globalContext( 'savingsLastDate' )  & \t', productionLastDate: ' & $globalContext( 'productionLastDate' ) & \t')...'",
        "payloadType": "jsonata",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b3ce7b20bc3e9643",
                "8c28ad9eafaca440"
            ]
        ]
    },
    {
        "id": "ad8fd501b129cfec",
        "type": "debug",
        "z": "6d278dbe6de7a110",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "06c779112978aaa2",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "read globals",
        "func": "msg.payload = {\n    weatherLastDate: global.get( 'weatherLastDate' ),\n    locations: global.get( 'locations' ),\n    savingsLastDate: global.get( 'savingsLastDate' ),\n    reservoirs: global.get( 'reservoirs' ),\n    productionLastDate: global.get( 'productionLastDate' ),\n    factories: global.get( 'factories' ),\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "ad8fd501b129cfec"
            ]
        ]
    },
    {
        "id": "8c28ad9eafaca440",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b48859fe2d07cd72",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 60,
        "wires": [
            [
                "0578fa751ff3e995"
            ]
        ]
    },
    {
        "id": "0578fa751ff3e995",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "clean globals",
        "func": "global.set( 'weatherExitLoop', undefined );\nglobal.set( 'savingsExitLoop', undefined );\nglobal.set( 'productionExitLoop', undefined );\n\nglobal.set( 'weatherLastDate', undefined );\nglobal.set( 'savingsLastDate', undefined );\nglobal.set( 'productionLastDate', undefined );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b3ce7b20bc3e9643",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "set configuration",
        "func": "const weatherUrl = \"https://archive-api.open-meteo.com/v1/archive?daily=weather_code,temperature_2m_min,temperature_2m_mean,temperature_2m_max,precipitation_sum,rain_sum,snowfall_sum&timezone=Europe/Athens&past_days=&latitude=&longitude=\";\nglobal.set( 'weatherUrl', weatherUrl );\n\nconst savingsUrl = \"https://www.eydap.gr/el/Controls/GeneralControls/SavingsDetails.aspx?DaysSpan=Day&Date=\";\nglobal.set( 'savingsUrl', savingsUrl );\n\nconst productionUrl = \"https://www.eydap.gr/el/Controls/GeneralControls/DrinkingWaterProductionDetails.aspx?DaysSpan=Day&Date=\";\nglobal.set( 'productionUrl', productionUrl );\n\n// msg.payload = \"Configuration...\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "203946c3788d69ed",
                "53fa08e0fc78f899",
                "22ae40ff7482ffd8"
            ]
        ]
    },
    {
        "id": "203946c3788d69ed",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call weather initialization",
        "links": [
            "b25dc8f8d8caacd2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "b8a42aa1c8cdc8fe"
            ]
        ]
    },
    {
        "id": "53fa08e0fc78f899",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call savings initialization",
        "links": [
            "8a59f45495f1788b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "137b5884ab0ee30e"
            ]
        ]
    },
    {
        "id": "22ae40ff7482ffd8",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call production initialization",
        "links": [
            "e604ce7017cf9a7f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "a7706206c42909fc"
            ]
        ]
    },
    {
        "id": "b8a42aa1c8cdc8fe",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call weather request",
        "links": [
            "19a9ec6c9f2b7b9e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "63251ea6481c533d",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "06c779112978aaa2"
            ]
        ]
    },
    {
        "id": "137b5884ab0ee30e",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call savings request",
        "links": [
            "a3aeb5ed388a6be4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a7706206c42909fc",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call production request",
        "links": [
            "b3c337ed58cf68bd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc0862b6d0ccf91",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "write into log file",
        "filename": "athens-water.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "e509d3deb26aca5f"
            ]
        ]
    },
    {
        "id": "409d2af6ef2b6869",
        "type": "function",
        "z": "9e38695607437acd",
        "name": "set log message",
        "func": "const { timeRepr } = global.get( 'dateHelpers' );\n\nconst time = timeRepr( new Date(), 'YYYY-MM-DD HH:MM:SS' );\n\nconst message = msg.payload;\n\nmsg.payload = `${time} ${message}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "1cc0862b6d0ccf91"
            ]
        ]
    },
    {
        "id": "992e1a45369732e3",
        "type": "link in",
        "z": "9e38695607437acd",
        "name": "link in 3",
        "links": [],
        "x": 65,
        "y": 100,
        "wires": [
            [
                "66dca8af6b89b230",
                "409d2af6ef2b6869"
            ]
        ]
    },
    {
        "id": "e509d3deb26aca5f",
        "type": "link out",
        "z": "9e38695607437acd",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc33fac1bfdac6f3",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "delete log file",
        "filename": "athens-water.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd8fe79b83e94a46",
        "type": "inject",
        "z": "9e38695607437acd",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "bc33fac1bfdac6f3"
            ]
        ]
    },
    {
        "id": "66dca8af6b89b230",
        "type": "debug",
        "z": "9e38695607437acd",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "e03ebe6b9c1e43be",
        "type": "catch",
        "z": "9e38695607437acd",
        "name": "",
        "scope": [
            "1cc0862b6d0ccf91",
            "bc33fac1bfdac6f3"
        ],
        "uncaught": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "e5dd25d01ed47935"
            ]
        ]
    },
    {
        "id": "e5dd25d01ed47935",
        "type": "change",
        "z": "9e38695607437acd",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "7c9527a0cc39587f"
            ]
        ]
    },
    {
        "id": "7c9527a0cc39587f",
        "type": "debug",
        "z": "9e38695607437acd",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f48bf4d39cb2c86",
        "type": "sqlite",
        "z": "b196196f1ccccbbb",
        "mydb": "09a55da13a5eea8d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "798e2d4d2a82f43e"
            ]
        ]
    },
    {
        "id": "ab0e6d979d760a4a",
        "type": "link in",
        "z": "b196196f1ccccbbb",
        "name": "link in 4",
        "links": [],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "4f48bf4d39cb2c86"
            ]
        ]
    },
    {
        "id": "798e2d4d2a82f43e",
        "type": "link out",
        "z": "b196196f1ccccbbb",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 375,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e34cddef0583d1a",
        "type": "link call",
        "z": "b196196f1ccccbbb",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 230,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9d3f4a82bebeac",
        "type": "catch",
        "z": "b196196f1ccccbbb",
        "name": "",
        "scope": [
            "4f48bf4d39cb2c86"
        ],
        "uncaught": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "2895fae552596af5"
            ]
        ]
    },
    {
        "id": "2895fae552596af5",
        "type": "change",
        "z": "b196196f1ccccbbb",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "9e34cddef0583d1a"
            ]
        ]
    },
    {
        "id": "0934098869fcb268",
        "type": "link out",
        "z": "d7c8565c02c92dbd",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "af66bd9217a38532",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM weather; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "d0991d10c4ce3042"
            ]
        ]
    },
    {
        "id": "312898d0fbebd781",
        "type": "debug",
        "z": "d7c8565c02c92dbd",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdb267699f7f8439",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'weatherLastDate', lastDate );\n\nmsg.payload = `Initial weather last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "312898d0fbebd781",
                "eefbcba086f74da2",
                "3e3759343661ea8a"
            ]
        ]
    },
    {
        "id": "d0991d10c4ce3042",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "cdb267699f7f8439"
            ]
        ]
    },
    {
        "id": "b25dc8f8d8caacd2",
        "type": "link in",
        "z": "d7c8565c02c92dbd",
        "name": "link in 5",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "7ea925825ff95888"
            ]
        ]
    },
    {
        "id": "eefbcba086f74da2",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3759343661ea8a",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "select locations",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM locations; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "8867e13fca9a584d"
            ]
        ]
    },
    {
        "id": "8867e13fca9a584d",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "d094265b5a62e802"
            ]
        ]
    },
    {
        "id": "d094265b5a62e802",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "set locations",
        "func": "const rows = msg.payload;\nglobal.set( 'locations', rows );\n\nmsg.payload = `Initial weather locations (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "eefbcba086f74da2",
                "0934098869fcb268",
                "312898d0fbebd781"
            ]
        ]
    },
    {
        "id": "7ea925825ff95888",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'weatherLastDate' );\nconst locations = global.get( 'locations' );\n\nif ( lastDate && locations ) {\n    msg.payload = \"Weather already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Weather initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "af66bd9217a38532",
                "eefbcba086f74da2"
            ],
            [
                "eefbcba086f74da2",
                "0934098869fcb268"
            ]
        ]
    },
    {
        "id": "2d93842496444882",
        "type": "link out",
        "z": "369c55fe302803f7",
        "name": "link out 15",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b97c41f2e94dbd7",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM savings; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "be738c7b07e56503"
            ]
        ]
    },
    {
        "id": "e12c41a077eef835",
        "type": "debug",
        "z": "369c55fe302803f7",
        "d": true,
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e7b1715c5b1248d",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'savingsLastDate', lastDate );\n\nmsg.payload = `Initial savings last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "e12c41a077eef835",
                "bd670a6c945626b3",
                "4c0cdc252d4eb87f"
            ]
        ]
    },
    {
        "id": "be738c7b07e56503",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "2e7b1715c5b1248d"
            ]
        ]
    },
    {
        "id": "8a59f45495f1788b",
        "type": "link in",
        "z": "369c55fe302803f7",
        "name": "link in 13",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "64214e1c1947fd0e"
            ]
        ]
    },
    {
        "id": "bd670a6c945626b3",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0cdc252d4eb87f",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "select reservoirs",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM reservoirs; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "2afbe3378ab16db1"
            ]
        ]
    },
    {
        "id": "2afbe3378ab16db1",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "fc76c71878067fc5"
            ]
        ]
    },
    {
        "id": "fc76c71878067fc5",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "set reservoirs",
        "func": "const rows = msg.payload;\nglobal.set( 'reservoirs', rows );\n\nmsg.payload = `Initial reservoirs (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "bd670a6c945626b3",
                "2d93842496444882",
                "e12c41a077eef835"
            ]
        ]
    },
    {
        "id": "64214e1c1947fd0e",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'savingsLastDate' );\nconst reservoirs = global.get( 'reservoirs' );\n\nif ( lastDate && reservoirs ) {\n    msg.payload = \"Savings already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Savings initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "9b97c41f2e94dbd7",
                "bd670a6c945626b3"
            ],
            [
                "bd670a6c945626b3",
                "2d93842496444882"
            ]
        ]
    },
    {
        "id": "3dca08942f45f34b",
        "type": "link out",
        "z": "aba327fbb26c5653",
        "name": "link out 16",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "6f07c6e7866c91db",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM production; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "7eb3697275baa550"
            ]
        ]
    },
    {
        "id": "a6c048e345b33e0f",
        "type": "debug",
        "z": "aba327fbb26c5653",
        "d": true,
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "85d5271db264427f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'productionLastDate', lastDate );\n\nmsg.payload = `Initial production last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "a6c048e345b33e0f",
                "d32524de155786ef",
                "7b61b4f0c034ab72"
            ]
        ]
    },
    {
        "id": "7eb3697275baa550",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "85d5271db264427f"
            ]
        ]
    },
    {
        "id": "e604ce7017cf9a7f",
        "type": "link in",
        "z": "aba327fbb26c5653",
        "name": "link in 14",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "0da6883389d1746f"
            ]
        ]
    },
    {
        "id": "d32524de155786ef",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7b61b4f0c034ab72",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "select factories",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM factories; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "3ee08acb42f62f86"
            ]
        ]
    },
    {
        "id": "3ee08acb42f62f86",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ef91bc11b2cc144f"
            ]
        ]
    },
    {
        "id": "ef91bc11b2cc144f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "set factories",
        "func": "const rows = msg.payload;\nglobal.set( 'factories', rows );\n\nmsg.payload = `Initial factories (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "d32524de155786ef",
                "3dca08942f45f34b",
                "a6c048e345b33e0f"
            ]
        ]
    },
    {
        "id": "0da6883389d1746f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'productionLastDate' );\nconst factories = global.get( 'factories' );\n\nif ( lastDate && factories ) {\n    msg.payload = \"Production already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Production initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "6f07c6e7866c91db",
                "d32524de155786ef"
            ],
            [
                "d32524de155786ef",
                "3dca08942f45f34b"
            ]
        ]
    },
    {
        "id": "19a9ec6c9f2b7b9e",
        "type": "link in",
        "z": "1dc82d7c84b0491f",
        "name": "link in 8",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "2fb4cc5afb478162"
            ]
        ]
    },
    {
        "id": "2fb4cc5afb478162",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "weather request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'weatherLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No weather lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 10 ) {\n    msg.payload = \"Weather up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "206f7a0874dd9852"
            ],
            [
                "1d13a35b302aaeed",
                "d30b920902618358"
            ]
        ]
    },
    {
        "id": "206f7a0874dd9852",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst locations = global.get( 'locations' );\nconst lat = locations.map( l => l.lat ).join( ',' );\nconst lon = locations.map( l => l.lon ).join( ',' );\n\nconst requestDate = msg.payload;\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\nconst past_days = daysDistance( requestDate, today );\n\nlet url = global.get( 'weatherUrl' );\nurl = url.replace( \"past_days=\", `past_days=${past_days}` );\nurl = url.replace( \"latitude=\", `latitude=${lat}` );\nurl = url.replace( \"longitude=\", `longitude=${lon}` );\n\n// global.set( 'weatherLastDate', requestDate );\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n    past_days,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "1d13a35b302aaeed",
                "40d5847be55c9a2c"
            ]
        ]
    },
    {
        "id": "40d5847be55c9a2c",
        "type": "http request",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "9eeb04756ec868d7"
            ]
        ]
    },
    {
        "id": "1d13a35b302aaeed",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9eeb04756ec868d7",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set response",
        "func": "const locations = global.get( 'locations' );\nconst { requestDate, past_days } = msg.requestParams;\n\n/*\nJSON RESPONSE LOOKS LIKE =>\n[{ \n  \"latitude\": 37.996483, \"longitude\": 23.709677, \"generationtime_ms\": 0.31006336212158203, \"utc_offset_seconds\": 10800, \"timezone\": \"Europe/Athens\", \"timezone_abbreviation\": \"EEST\", \"elevation\": 92.0, \n  \"daily_units\": { \"time\": \"iso8601\", \"weather_code\": \"wmo code\", \"temperature_2m_min\": \"°C\", \"temperature_2m_mean\": \"°C\", \"temperature_2m_max\": \"°C\", \"precipitation_sum\": \"mm\", \"rain_sum\": \"mm\", \"snowfall_sum\": \"cm\" }, \n  \"daily\": { \"time\": [\"2024-05-20\", \"2024-05-21\", \"2024-05-22\", \"2024-05-23\"], \"weather_code\": [1, 1, 1, null], \"temperature_2m_min\": [19.3, 19.5, 20.9, null], \"temperature_2m_mean\": [24.2, 24.1, null, null], \"temperature_2m_max\": [29.1, 29.2, 22.0, null], \"precipitation_sum\": [0.00, 0.00, null, null], \"rain_sum\": [0.00, 0.00, null, null], \"snowfall_sum\": [0.00, 0.00, null, null] }\n},{ \n  \"latitude\": 38.558872, \"longitude\": 22.377718, \"generationtime_ms\": 0.2340078353881836, \"utc_offset_seconds\": 10800, \"timezone\": \"Europe/Athens\", \"timezone_abbreviation\": \"EEST\", \"elevation\": 206.0, \"location_id\": 1, \n  \"daily_units\": { \"time\": \"iso8601\", \"weather_code\": \"wmo code\", \"temperature_2m_min\": \"°C\", \"temperature_2m_mean\": \"°C\", \"temperature_2m_max\": \"°C\", \"precipitation_sum\": \"mm\", \"rain_sum\": \"mm\", \"snowfall_sum\": \"cm\" }, \n  \"daily\": { \"time\": [\"2024-05-20\", \"2024-05-21\", \"2024-05-22\", \"2024-05-23\"], \"weather_code\": [51, 2, 0, null], \"temperature_2m_min\": [18.6, 18.9, 18.3, null], \"temperature_2m_mean\": [24.0, 24.4, null, null], \"temperature_2m_max\": [29.3, 30.9, 19.3, null], \"precipitation_sum\": [0.10, 0.00, null, null], \"rain_sum\": [0.10, 0.00, null, null], \"snowfall_sum\": [0.00, 0.00, null, null] } \n}]\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nif ( payload.length !== locations.length ) {\n    throw `[ERROR] Response not matching locations length (${payload.length} vs ${locations.length}).`;\n}\n\nconst result = [];\nfor ( let i = 0; i < payload.length; i++ ) {\n    const location = locations[ i ];\n    const { time, \n        weather_code,\n        temperature_2m_min,\n        temperature_2m_mean,\n        temperature_2m_max,\n        precipitation_sum,\n        rain_sum,\n        snowfall_sum,\n    } = payload[ i ].daily;\n\n    for ( let j = 0; j < time.length; j++ ) {\n        if ( time[ j ] == requestDate ) {\n            if (\n                temperature_2m_min[ j ] == undefined || temperature_2m_min[ j ] === null &&\n                temperature_2m_mean[ j ] === undefined || temperature_2m_mean[ j ] === null &&\n                temperature_2m_max[ j ] === undefined || temperature_2m_max[ j ] === null &&\n                precipitation_sum[ j ] === undefined || precipitation_sum[ j ] === null\n            ) {\n                throw `[WARNING] Weather data not available yet (${requestDate}).`;\n            }\n\n            result.push( {\n                date: requestDate,\n                location_id: location.id,\n                weather_code: weather_code[ j ],\n                temperature_2m_min: temperature_2m_min[ j ],\n                temperature_2m_mean:temperature_2m_mean[ j ],\n                temperature_2m_max: temperature_2m_max[ j ],\n                precipitation_sum: precipitation_sum[ j ],\n                rain_sum: rain_sum[ i ],\n                snowfall_sum: snowfall_sum[ i ]\n            } );\n            break;\n        }\n    }\n    if ( result.length !== i + 1 ) {\n        throw `[ERROR] No of the responded times matching requested date (${requestDate}).`;\n    }\n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "c6ca5fcc2f3a3473"
            ]
        ]
    },
    {
        "id": "e83e73798f7932b9",
        "type": "catch",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "scope": [
            "2fb4cc5afb478162",
            "40d5847be55c9a2c",
            "9eeb04756ec868d7"
        ],
        "uncaught": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "60c6b15d3afe44f8"
            ]
        ]
    },
    {
        "id": "60c6b15d3afe44f8",
        "type": "change",
        "z": "1dc82d7c84b0491f",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "015c0ec7d6ec099f",
        "type": "delay",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "2fb4cc5afb478162"
            ]
        ]
    },
    {
        "id": "c6ca5fcc2f3a3473",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "insert weather",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const {\n        date,\n        location_id,\n        weather_code,\n        temperature_2m_min,\n        temperature_2m_mean,\n        temperature_2m_max,\n        precipitation_sum,\n        rain_sum,\n        snowfall_sum\n    } = row;\n\n    rows.push( `(\"${date}\",${location_id},${weather_code},${temperature_2m_min},${temperature_2m_mean},${temperature_2m_max},${precipitation_sum},${rain_sum},${snowfall_sum})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO weather (date,location_id,weather_code,temperature_2m_min,temperature_2m_mean,temperature_2m_max,precipitation_sum,rain_sum,snowfall_sum) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "19824c02c61e45f3",
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "19824c02c61e45f3",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "b313c853354a574e"
            ]
        ]
    },
    {
        "id": "b313c853354a574e",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'weatherLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.payload = `Weather update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 460,
        "wires": [
            [
                "015c0ec7d6ec099f",
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "d30b920902618358",
        "type": "link out",
        "z": "1dc82d7c84b0491f",
        "name": "link out 14",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "a3aeb5ed388a6be4",
        "type": "link in",
        "z": "61022c35528d6ffa",
        "name": "link in 15",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "c7c23ca1cd6e436a"
            ]
        ]
    },
    {
        "id": "c7c23ca1cd6e436a",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "savings request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'savingsLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No savings lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 6 ) {\n    msg.payload = \"Savings up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "ee151d8aa972eca3"
            ],
            [
                "47560b1a83aa9b08",
                "4342dfe695e76b47"
            ]
        ]
    },
    {
        "id": "ee151d8aa972eca3",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst requestDate = msg.payload;\nconst reverseDate = requestDate.split( '-' ).reverse().join( '-' );\n\nconst url = global.get( 'savingsUrl' ) + reverseDate;\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "47560b1a83aa9b08",
                "d7b103a6c1f51e56"
            ]
        ]
    },
    {
        "id": "d7b103a6c1f51e56",
        "type": "http request",
        "z": "61022c35528d6ffa",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "37e47c2be4e6d111",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "704eed10a1bf43df"
            ]
        ]
    },
    {
        "id": "47560b1a83aa9b08",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "704eed10a1bf43df",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "set response",
        "func": "const reservoirs = global.get( 'reservoirs' );\nconst { requestDate } = msg.requestParams;\n\n/*\nHTML RESPONSE LOOKS LIKE =>\n<table cellspacing=\"0\" rules=\"all\" border=\"1\" id=\"grdSavings\" style=\"width:910px;border-collapse:collapse;\">\n  <tr>\n    <th scope=\"col\">Ημερομηνία</th><th scope=\"col\">ΕΥΗΝΟΣ</th><th scope=\"col\">ΜΑΡΑΘΩΝΑΣ</th><th scope=\"col\">ΜΟΡΝΟΣ</th><th scope=\"col\">ΥΛΙΚΗ</th><th scope=\"col\">ΣΥΝΟΛΟ</th>\n  </tr><tr>\n    <td>22/05/2024</td><td>67.414.000 </td><td>26.047.000 </td><td>442.235.000 </td><td>338.832.000 </td><td>874.528.000 </td>\n  </tr><tr>\n    <td>23/05/2024</td><td>67.414.000 </td><td>26.132.000 </td><td>441.128.000 </td><td>338.644.000 </td><td>873.318.000 </td>\n  </tr>\n</table>\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nconst html = payload;\nconst table = html.split(\"<table\")[1];\n\nconst rows = table.match(/(<tr)(.*?)(<\\/tr>)/gs);\n\nfor (let i = 0; i < rows.length; i++) {\n\n    if (i > 0) { // to skip labels\n        let values = rows[i].match( /(<td>)(.*?)(<\\/td>)/gs ); // s = including new line in chars\n        values = values.map( v => v.replace( \"<td>\", \"\" ).replace( \"</td>\", \"\" ).trim() );\n        values = values.map( v => v.replaceAll( \".\", \"\" ) ); // 1.234.000 => 1234000\n\n        const [ dd, mm, yyyy ] = values[ 0 ].split( '/' );\n        const date = `${yyyy}-${mm}-${dd}`;\n\n        if ( date === requestDate ) {\n\n            values = values.slice( 1, -1 ); // exclude date and total\n            // node.warn( values );\n\n            if ( values.length !== reservoirs.length ) {\n                throw `[ERROR] Response not matching reservoirs length (${values.length} vs ${reservoirs.length}).`;\n            }\n\n            const result = [];\n            for ( let j = 0; j < values.length; j++ ) {\n                result.push( {\n                    date,\n                    reservoir_id: reservoirs[ j ].id,\n                    quantity: values[ j ]\n                \n                } );\n            }\n            msg.payload = result;\n            return msg;\n        }\n    }\n}\n\nthrow `[WARNING] Savings data not available yet (${requestDate}).`;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "a076f80433e32a0f"
            ]
        ]
    },
    {
        "id": "7977c8012078d6f0",
        "type": "catch",
        "z": "61022c35528d6ffa",
        "name": "",
        "scope": [
            "c7c23ca1cd6e436a",
            "d7b103a6c1f51e56",
            "704eed10a1bf43df"
        ],
        "uncaught": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "2eac0f1e97633ab0"
            ]
        ]
    },
    {
        "id": "2eac0f1e97633ab0",
        "type": "change",
        "z": "61022c35528d6ffa",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "810a0a9d8b3d7e36",
        "type": "delay",
        "z": "61022c35528d6ffa",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 580,
        "wires": [
            [
                "c7c23ca1cd6e436a"
            ]
        ]
    },
    {
        "id": "a076f80433e32a0f",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "insert weather",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const { date, reservoir_id, quantity } = row;\n\n    rows.push( `(\"${date}\",${reservoir_id},${quantity})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO savings (date,reservoir_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "68451f8805a4ded4",
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "68451f8805a4ded4",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "53d7020558aeb4ee"
            ]
        ]
    },
    {
        "id": "53d7020558aeb4ee",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'savingsLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.payload = `Savings update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "810a0a9d8b3d7e36",
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "4342dfe695e76b47",
        "type": "link out",
        "z": "61022c35528d6ffa",
        "name": "link out 17",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "649a9d800333157e",
        "type": "comment",
        "z": "61022c35528d6ffa",
        "name": "about ca certificate",
        "info": "  SPECIFIC SETTINGS IN NODE-RED:\n  in settings.js => process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0\n  in http-request => tick \"Enable secure (SSL/TLS) connection\" > create new TLS Config > upload CA certicicate > uncheck \"Verify server certificate\".\n  based on: unable to verify the first certificate in Node-Red\n  https://stackoverflow.com/questions/42983635/error-unable-to-verify-the-first-certificate-in-node-red/42984958#42984958\n\n  GENERAL INFO USING NODEJS:\n  fetch( \"https://eydap.gr\" );\n  error: unable to verify the first certificate ('UNABLE_TO_VERIFY_LEAF_SIGNATURE')\n  solution: process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0;\n  Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification\n  based on: Node Fetch Request Fails on Server: Unable to Get Local Issuer Certificate\n  https://stackoverflow.com/questions/51995925/node-fetch-request-fails-on-server-unable-to-get-local-issuer-certificate\n\n  curl -v https://www.eydap.gr\n  error: unable to get local issuer certificate\n  solution: chrome > https://eydap.gr > connection is secure > certificate is valid > details > export (crt file)\n  (create a backup of /etc/ssl/certs/ca-certificates.crt)\n  append crt file content in /etc/ssl/certs/ca-certificates.crt\n",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3c337ed58cf68bd",
        "type": "link in",
        "z": "d21f4bda462bb9a5",
        "name": "link in 16",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "722008d1f8785f62"
            ]
        ]
    },
    {
        "id": "722008d1f8785f62",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "production request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'productionLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No production lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 6 ) {\n    msg.payload = \"Production up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "ca1ff0ef5d5f0a54"
            ],
            [
                "0c42eba578cf0c01",
                "49ebaced1967f034"
            ]
        ]
    },
    {
        "id": "ca1ff0ef5d5f0a54",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst requestDate = msg.payload;\nconst reverseDate = requestDate.split( '-' ).reverse().join( '-' );\n\nconst url = global.get( 'productionUrl' ) + reverseDate;\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "0c42eba578cf0c01",
                "ed65cfa6e69ecc57"
            ]
        ]
    },
    {
        "id": "ed65cfa6e69ecc57",
        "type": "http request",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "37e47c2be4e6d111",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "382e19da3f5505a7"
            ]
        ]
    },
    {
        "id": "0c42eba578cf0c01",
        "type": "link call",
        "z": "d21f4bda462bb9a5",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "382e19da3f5505a7",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "set response",
        "func": "const factories = global.get( 'factories' );\nconst { requestDate } = msg.requestParams;\n\n/*\nHTML RESPONSE LOOKS LIKE =>\n<table cellspacing=\"0\" rules=\"all\" border=\"1\" id=\"grdSavings\" style=\"width:910px;border-collapse:collapse;\">\n  <tr>\n    <th scope=\"col\">Ημερομηνία</th><th scope=\"col\">ΑΣΠΡΟΠΥΡΓΟΣ</th><th scope=\"col\">ΓΑΛΑΤΣΙ</th><th scope=\"col\">ΚΙΟΥΡΚΑ</th><th scope=\"col\">ΜΕΝΙΔΙ</th><th scope=\"col\">ΣΥΝΟΛΟ</th>\n  </tr><tr>\n    <td>21/05/2024</td><td>131.020 </td><td>334.564 </td><td>139.389 </td><td>555.391 </td><td>1.160.364 </td>\n  </tr><tr>\n    <td>22/05/2024</td><td>132.730 </td><td>342.627 </td><td>124.210 </td><td>582.403 </td><td>1.181.970 </td>\n  </tr>\n</table>\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nconst html = payload;\nconst table = html.split(\"<table\")[1];\n\nconst rows = table.match(/(<tr)(.*?)(<\\/tr>)/gs);\n\nfor (let i = 0; i < rows.length; i++) {\n\n    if (i > 0) { // to skip labels\n        let values = rows[i].match( /(<td>)(.*?)(<\\/td>)/gs ); // s = including new line in chars\n        values = values.map( v => v.replace( \"<td>\", \"\" ).replace( \"</td>\", \"\" ).trim() );\n        values = values.map( v => v.replaceAll( \".\", \"\" ) ); // 1.234.000 => 1234000\n\n        const [ dd, mm, yyyy ] = values[ 0 ].split( '/' );\n        const date = `${yyyy}-${mm}-${dd}`;\n\n        if ( date === requestDate ) {\n\n            values = values.slice( 1, -1 ); // exclude date and total\n            // node.warn( values );\n\n            if ( values.length !== factories.length ) {\n                throw `[ERROR] Response not matching factories length (${values.length} vs ${factories.length}).`;\n            }\n\n            const result = [];\n            for ( let j = 0; j < values.length; j++ ) {\n                result.push( {\n                    date,\n                    factory_id: factories[ j ].id,\n                    quantity: values[ j ]\n                \n                } );\n            }\n            msg.payload = result;\n            return msg;\n        }\n    }\n}\n\nthrow `[WARNING] Production data not available yet (${requestDate}).`;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "15d8990b4f617272"
            ]
        ]
    },
    {
        "id": "51fe3a33ce3bb6f9",
        "type": "catch",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "scope": [
            "722008d1f8785f62",
            "ed65cfa6e69ecc57",
            "382e19da3f5505a7"
        ],
        "uncaught": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "14e5d743cc9f4824"
            ]
        ]
    },
    {
        "id": "14e5d743cc9f4824",
        "type": "change",
        "z": "d21f4bda462bb9a5",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "809c36996292b6ee",
        "type": "delay",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 580,
        "wires": [
            [
                "722008d1f8785f62"
            ]
        ]
    },
    {
        "id": "15d8990b4f617272",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "insert weather",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const { date, factory_id, quantity } = row;\n\n    rows.push( `(\"${date}\",${factory_id},${quantity})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO production (date,factory_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "45074707b3343bdf",
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "45074707b3343bdf",
        "type": "link call",
        "z": "d21f4bda462bb9a5",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "150def491b82fe85"
            ]
        ]
    },
    {
        "id": "150def491b82fe85",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'productionLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.payload = `Production update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "809c36996292b6ee",
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "49ebaced1967f034",
        "type": "link out",
        "z": "d21f4bda462bb9a5",
        "name": "link out 18",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "c1940731334384fb",
        "type": "comment",
        "z": "d21f4bda462bb9a5",
        "name": "about ca certificate",
        "info": "  SPECIFIC SETTINGS IN NODE-RED:\n  in settings.js => process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0\n  in http-request => tick \"Enable secure (SSL/TLS) connection\" > create new TLS Config > upload CA certicicate > uncheck \"Verify server certificate\".\n  based on: unable to verify the first certificate in Node-Red\n  https://stackoverflow.com/questions/42983635/error-unable-to-verify-the-first-certificate-in-node-red/42984958#42984958\n\n  GENERAL INFO USING NODEJS:\n  fetch( \"https://eydap.gr\" );\n  error: unable to verify the first certificate ('UNABLE_TO_VERIFY_LEAF_SIGNATURE')\n  solution: process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0;\n  Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification\n  based on: Node Fetch Request Fails on Server: Unable to Get Local Issuer Certificate\n  https://stackoverflow.com/questions/51995925/node-fetch-request-fails-on-server-unable-to-get-local-issuer-certificate\n\n  curl -v https://www.eydap.gr\n  error: unable to get local issuer certificate\n  solution: chrome > https://eydap.gr > connection is secure > certificate is valid > details > export (crt file)\n  (create a backup of /etc/ssl/certs/ca-certificates.crt)\n  append crt file content in /etc/ssl/certs/ca-certificates.crt\n",
        "x": 290,
        "y": 200,
        "wires": []
    }
]