flows.json
[
    {
        "id": "6d278dbe6de7a110",
        "type": "tab",
        "label": "start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e38695607437acd",
        "type": "tab",
        "label": "logger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b196196f1ccccbbb",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7c8565c02c92dbd",
        "type": "tab",
        "label": "weather initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "369c55fe302803f7",
        "type": "tab",
        "label": "savings initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aba327fbb26c5653",
        "type": "tab",
        "label": "production initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dc82d7c84b0491f",
        "type": "tab",
        "label": "weather subsystem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61022c35528d6ffa",
        "type": "tab",
        "label": "savings subsystem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d21f4bda462bb9a5",
        "type": "tab",
        "label": "production subsystem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bac88e4feb8bab3d",
        "type": "tab",
        "label": "publish",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ae09610019427a1",
        "type": "tab",
        "label": "exchanges mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c24dbc290a05dc25",
        "type": "tab",
        "label": "vhost mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61bc9ba532c143ca",
        "type": "tab",
        "label": "RabbitMQ api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f69c48321b859d1",
        "type": "tab",
        "label": "users mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8bc24acff1041807",
        "type": "tab",
        "label": "permissions mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6dee893d75f8487",
        "type": "tab",
        "label": "queues mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc91aadf3d6bd939",
        "type": "tab",
        "label": "bindings mgmt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "746d8aad27723fd7",
        "type": "sqlitedb",
        "db": "~/.node-red/projects/athens-water/data/water.sqlite",
        "mode": "RWC"
    },
    {
        "id": "09a55da13a5eea8d",
        "type": "sqlitedb",
        "db": "athens-water.sqlite",
        "mode": "RWC"
    },
    {
        "id": "37e47c2be4e6d111",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "eydap.gr.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "7b17c7ecbdcb71f0",
        "type": "amqp-broker",
        "name": "rabbitmq/labs",
        "host": "localhost",
        "port": "5672",
        "vhost": "labs",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "774630f253d36966",
        "type": "amqp-broker",
        "name": "",
        "host": "localhost",
        "port": "5672",
        "vhost": "athenswater",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "f95f44a518aa1c5e",
        "type": "amqp-broker",
        "name": "",
        "host": "localhost",
        "port": "5672",
        "vhost": "athenswater",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "9521260f5086eed6",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "'Start interval (' &\t'weatherLastDate: ' & $globalContext( 'weatherLastDate' )  & \t', savingsLastDate: ' & $globalContext( 'savingsLastDate' )  & \t', productionLastDate: ' & $globalContext( 'productionLastDate' ) & \t')...'",
        "payloadType": "jsonata",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b3ce7b20bc3e9643",
                "8c28ad9eafaca440"
            ]
        ]
    },
    {
        "id": "ad8fd501b129cfec",
        "type": "debug",
        "z": "6d278dbe6de7a110",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "06c779112978aaa2",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "read globals",
        "func": "msg.payload = {\n    weatherLastDate: global.get( 'weatherLastDate' ),\n    locations: global.get( 'locations' ),\n    savingsLastDate: global.get( 'savingsLastDate' ),\n    reservoirs: global.get( 'reservoirs' ),\n    productionLastDate: global.get( 'productionLastDate' ),\n    factories: global.get( 'factories' ),\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "ad8fd501b129cfec"
            ]
        ]
    },
    {
        "id": "8c28ad9eafaca440",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b48859fe2d07cd72",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 60,
        "wires": [
            [
                "0578fa751ff3e995"
            ]
        ]
    },
    {
        "id": "0578fa751ff3e995",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "clean globals",
        "func": "global.set( 'weatherExitLoop', undefined );\nglobal.set( 'savingsExitLoop', undefined );\nglobal.set( 'productionExitLoop', undefined );\n\nglobal.set( 'weatherLastDate', undefined );\nglobal.set( 'savingsLastDate', undefined );\nglobal.set( 'productionLastDate', undefined );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b3ce7b20bc3e9643",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "set configuration",
        "func": "const weatherUrl = \"https://archive-api.open-meteo.com/v1/archive?daily=weather_code,temperature_2m_min,temperature_2m_mean,temperature_2m_max,precipitation_sum,rain_sum,snowfall_sum&timezone=Europe/Athens&past_days=&latitude=&longitude=\";\nglobal.set( 'weatherUrl', weatherUrl );\n\nconst savingsUrl = \"https://www.eydap.gr/el/Controls/GeneralControls/SavingsDetails.aspx?DaysSpan=Day&Date=\";\nglobal.set( 'savingsUrl', savingsUrl );\n\nconst productionUrl = \"https://www.eydap.gr/el/Controls/GeneralControls/DrinkingWaterProductionDetails.aspx?DaysSpan=Day&Date=\";\nglobal.set( 'productionUrl', productionUrl );\n\n// msg.payload = \"Configuration...\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "203946c3788d69ed",
                "53fa08e0fc78f899",
                "22ae40ff7482ffd8"
            ]
        ]
    },
    {
        "id": "203946c3788d69ed",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call weather initialization",
        "links": [
            "b25dc8f8d8caacd2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "b8a42aa1c8cdc8fe"
            ]
        ]
    },
    {
        "id": "53fa08e0fc78f899",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call savings initialization",
        "links": [
            "8a59f45495f1788b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "137b5884ab0ee30e"
            ]
        ]
    },
    {
        "id": "22ae40ff7482ffd8",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call production initialization",
        "links": [
            "e604ce7017cf9a7f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "a7706206c42909fc"
            ]
        ]
    },
    {
        "id": "b8a42aa1c8cdc8fe",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call weather subsystem",
        "links": [
            "19a9ec6c9f2b7b9e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 170,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "63251ea6481c533d",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "06c779112978aaa2"
            ]
        ]
    },
    {
        "id": "137b5884ab0ee30e",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call savings subsystem",
        "links": [
            "a3aeb5ed388a6be4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 460,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a7706206c42909fc",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call production subsystem",
        "links": [
            "b3c337ed58cf68bd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 770,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a802322ce1f9bb87",
        "type": "comment",
        "z": "6d278dbe6de7a110",
        "name": "about result...",
        "info": "global resultLastDate (min of lastDates)\n\ncheck for new resultLastDate\n\nmake queries for 30days periods\n\nmean savings\nmean production\nsavings/production\nsum precipitation\n\nsavings/production compared to \nprev year precipitation\n\nk-means\n",
        "x": 410,
        "y": 540,
        "wires": []
    },
    {
        "id": "1cc0862b6d0ccf91",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "write into log file",
        "filename": "athens-water.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "e509d3deb26aca5f"
            ]
        ]
    },
    {
        "id": "409d2af6ef2b6869",
        "type": "function",
        "z": "9e38695607437acd",
        "name": "set log message",
        "func": "const { timeRepr } = global.get( 'dateHelpers' );\n\nconst time = timeRepr( new Date(), 'YYYY-MM-DD HH:MM:SS' );\n\nconst message = msg.payload;\n\nmsg.payload = `${time} ${message}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "1cc0862b6d0ccf91"
            ]
        ]
    },
    {
        "id": "992e1a45369732e3",
        "type": "link in",
        "z": "9e38695607437acd",
        "name": "link in 3",
        "links": [],
        "x": 65,
        "y": 100,
        "wires": [
            [
                "66dca8af6b89b230",
                "409d2af6ef2b6869"
            ]
        ]
    },
    {
        "id": "e509d3deb26aca5f",
        "type": "link out",
        "z": "9e38695607437acd",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc33fac1bfdac6f3",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "delete log file",
        "filename": "athens-water.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 230,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd8fe79b83e94a46",
        "type": "inject",
        "z": "9e38695607437acd",
        "name": "admin mgmt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "bc33fac1bfdac6f3"
            ]
        ]
    },
    {
        "id": "66dca8af6b89b230",
        "type": "debug",
        "z": "9e38695607437acd",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "e03ebe6b9c1e43be",
        "type": "catch",
        "z": "9e38695607437acd",
        "name": "",
        "scope": [
            "1cc0862b6d0ccf91",
            "bc33fac1bfdac6f3"
        ],
        "uncaught": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "e5dd25d01ed47935"
            ]
        ]
    },
    {
        "id": "e5dd25d01ed47935",
        "type": "change",
        "z": "9e38695607437acd",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "7c9527a0cc39587f"
            ]
        ]
    },
    {
        "id": "7c9527a0cc39587f",
        "type": "debug",
        "z": "9e38695607437acd",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f48bf4d39cb2c86",
        "type": "sqlite",
        "z": "b196196f1ccccbbb",
        "mydb": "09a55da13a5eea8d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "798e2d4d2a82f43e"
            ]
        ]
    },
    {
        "id": "ab0e6d979d760a4a",
        "type": "link in",
        "z": "b196196f1ccccbbb",
        "name": "link in 4",
        "links": [],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "4f48bf4d39cb2c86"
            ]
        ]
    },
    {
        "id": "798e2d4d2a82f43e",
        "type": "link out",
        "z": "b196196f1ccccbbb",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 375,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e34cddef0583d1a",
        "type": "link call",
        "z": "b196196f1ccccbbb",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 230,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9d3f4a82bebeac",
        "type": "catch",
        "z": "b196196f1ccccbbb",
        "name": "",
        "scope": [
            "4f48bf4d39cb2c86"
        ],
        "uncaught": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "2895fae552596af5"
            ]
        ]
    },
    {
        "id": "2895fae552596af5",
        "type": "change",
        "z": "b196196f1ccccbbb",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "9e34cddef0583d1a"
            ]
        ]
    },
    {
        "id": "0934098869fcb268",
        "type": "link out",
        "z": "d7c8565c02c92dbd",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "af66bd9217a38532",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM weather; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "d0991d10c4ce3042"
            ]
        ]
    },
    {
        "id": "312898d0fbebd781",
        "type": "debug",
        "z": "d7c8565c02c92dbd",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdb267699f7f8439",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'weatherLastDate', lastDate );\n\nmsg.payload = `Initial weather last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "312898d0fbebd781",
                "eefbcba086f74da2",
                "3e3759343661ea8a"
            ]
        ]
    },
    {
        "id": "d0991d10c4ce3042",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "cdb267699f7f8439"
            ]
        ]
    },
    {
        "id": "b25dc8f8d8caacd2",
        "type": "link in",
        "z": "d7c8565c02c92dbd",
        "name": "link in 5",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "7ea925825ff95888"
            ]
        ]
    },
    {
        "id": "eefbcba086f74da2",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3759343661ea8a",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "select locations",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM locations; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "8867e13fca9a584d"
            ]
        ]
    },
    {
        "id": "8867e13fca9a584d",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "d094265b5a62e802"
            ]
        ]
    },
    {
        "id": "d094265b5a62e802",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "set locations",
        "func": "const rows = msg.payload;\nglobal.set( 'locations', rows );\n\nmsg.payload = `Initial weather locations (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "eefbcba086f74da2",
                "0934098869fcb268",
                "312898d0fbebd781"
            ]
        ]
    },
    {
        "id": "7ea925825ff95888",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'weatherLastDate' );\nconst locations = global.get( 'locations' );\n\nif ( lastDate && locations ) {\n    msg.payload = \"Weather already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Weather initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "af66bd9217a38532",
                "eefbcba086f74da2"
            ],
            [
                "eefbcba086f74da2",
                "0934098869fcb268"
            ]
        ]
    },
    {
        "id": "2d93842496444882",
        "type": "link out",
        "z": "369c55fe302803f7",
        "name": "link out 15",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b97c41f2e94dbd7",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM savings; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "be738c7b07e56503"
            ]
        ]
    },
    {
        "id": "e12c41a077eef835",
        "type": "debug",
        "z": "369c55fe302803f7",
        "d": true,
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e7b1715c5b1248d",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'savingsLastDate', lastDate );\n\nmsg.payload = `Initial savings last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "e12c41a077eef835",
                "bd670a6c945626b3",
                "4c0cdc252d4eb87f"
            ]
        ]
    },
    {
        "id": "be738c7b07e56503",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "2e7b1715c5b1248d"
            ]
        ]
    },
    {
        "id": "8a59f45495f1788b",
        "type": "link in",
        "z": "369c55fe302803f7",
        "name": "link in 13",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "64214e1c1947fd0e"
            ]
        ]
    },
    {
        "id": "bd670a6c945626b3",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0cdc252d4eb87f",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "select reservoirs",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM reservoirs; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "2afbe3378ab16db1"
            ]
        ]
    },
    {
        "id": "2afbe3378ab16db1",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "fc76c71878067fc5"
            ]
        ]
    },
    {
        "id": "fc76c71878067fc5",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "set reservoirs",
        "func": "const rows = msg.payload;\nglobal.set( 'reservoirs', rows );\n\nmsg.payload = `Initial reservoirs (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "bd670a6c945626b3",
                "2d93842496444882",
                "e12c41a077eef835"
            ]
        ]
    },
    {
        "id": "64214e1c1947fd0e",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'savingsLastDate' );\nconst reservoirs = global.get( 'reservoirs' );\n\nif ( lastDate && reservoirs ) {\n    msg.payload = \"Savings already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Savings initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "9b97c41f2e94dbd7",
                "bd670a6c945626b3"
            ],
            [
                "bd670a6c945626b3",
                "2d93842496444882"
            ]
        ]
    },
    {
        "id": "3dca08942f45f34b",
        "type": "link out",
        "z": "aba327fbb26c5653",
        "name": "link out 16",
        "mode": "return",
        "links": [],
        "x": 795,
        "y": 460,
        "wires": []
    },
    {
        "id": "6f07c6e7866c91db",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "select last date",
        "func": "const query = \"\\\n    SELECT MAX(date) as lastDate \\\n    FROM production; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "7eb3697275baa550"
            ]
        ]
    },
    {
        "id": "a6c048e345b33e0f",
        "type": "debug",
        "z": "aba327fbb26c5653",
        "d": true,
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "85d5271db264427f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "set last date",
        "func": "const rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nglobal.set( 'productionLastDate', lastDate );\n\nmsg.payload = `Initial production last date: ${lastDate}`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "a6c048e345b33e0f",
                "d32524de155786ef",
                "7b61b4f0c034ab72"
            ]
        ]
    },
    {
        "id": "7eb3697275baa550",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "85d5271db264427f"
            ]
        ]
    },
    {
        "id": "e604ce7017cf9a7f",
        "type": "link in",
        "z": "aba327fbb26c5653",
        "name": "link in 14",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "0da6883389d1746f"
            ]
        ]
    },
    {
        "id": "d32524de155786ef",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 850,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7b61b4f0c034ab72",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "select factories",
        "func": "const query = \"\\\n    SELECT id, name_el, name_en, lat, lon \\\n    FROM factories; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "3ee08acb42f62f86"
            ]
        ]
    },
    {
        "id": "3ee08acb42f62f86",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ef91bc11b2cc144f"
            ]
        ]
    },
    {
        "id": "ef91bc11b2cc144f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "set factories",
        "func": "const rows = msg.payload;\nglobal.set( 'factories', rows );\n\nmsg.payload = `Initial factories (${rows.length})`;\nmsg.topic = undefined;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "d32524de155786ef",
                "3dca08942f45f34b",
                "a6c048e345b33e0f"
            ]
        ]
    },
    {
        "id": "0da6883389d1746f",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "Check initialization",
        "func": "const lastDate = global.get( 'productionLastDate' );\nconst factories = global.get( 'factories' );\n\nif ( lastDate && factories ) {\n    msg.payload = \"Production already initialized.\";\n    return [ null, msg ];\n}\n\nmsg.payload = \"Production initialization...\";\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "6f07c6e7866c91db",
                "d32524de155786ef"
            ],
            [
                "d32524de155786ef",
                "3dca08942f45f34b"
            ]
        ]
    },
    {
        "id": "19a9ec6c9f2b7b9e",
        "type": "link in",
        "z": "1dc82d7c84b0491f",
        "name": "link in 8",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "2fb4cc5afb478162"
            ]
        ]
    },
    {
        "id": "2fb4cc5afb478162",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "weather request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'weatherLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No weather lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 8 ) {\n    msg.payload = \"Weather up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "206f7a0874dd9852"
            ],
            [
                "1d13a35b302aaeed",
                "d30b920902618358"
            ]
        ]
    },
    {
        "id": "206f7a0874dd9852",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst locations = global.get( 'locations' );\nconst lat = locations.map( l => l.lat ).join( ',' );\nconst lon = locations.map( l => l.lon ).join( ',' );\n\nconst requestDate = msg.payload;\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\nconst past_days = daysDistance( requestDate, today );\n\nlet url = global.get( 'weatherUrl' );\nurl = url.replace( \"past_days=\", `past_days=${past_days}` );\nurl = url.replace( \"latitude=\", `latitude=${lat}` );\nurl = url.replace( \"longitude=\", `longitude=${lon}` );\n\n// global.set( 'weatherLastDate', requestDate );\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n    past_days,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "1d13a35b302aaeed",
                "40d5847be55c9a2c"
            ]
        ]
    },
    {
        "id": "40d5847be55c9a2c",
        "type": "http request",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "9eeb04756ec868d7"
            ]
        ]
    },
    {
        "id": "1d13a35b302aaeed",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9eeb04756ec868d7",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "parse response",
        "func": "const locations = global.get( 'locations' );\nconst { requestDate, past_days } = msg.requestParams;\n\n/*\nJSON RESPONSE LOOKS LIKE =>\n[{ \n  \"latitude\": 37.996483, \"longitude\": 23.709677, \"generationtime_ms\": 0.31006336212158203, \"utc_offset_seconds\": 10800, \"timezone\": \"Europe/Athens\", \"timezone_abbreviation\": \"EEST\", \"elevation\": 92.0, \n  \"daily_units\": { \"time\": \"iso8601\", \"weather_code\": \"wmo code\", \"temperature_2m_min\": \"°C\", \"temperature_2m_mean\": \"°C\", \"temperature_2m_max\": \"°C\", \"precipitation_sum\": \"mm\", \"rain_sum\": \"mm\", \"snowfall_sum\": \"cm\" }, \n  \"daily\": { \"time\": [\"2024-05-20\", \"2024-05-21\", \"2024-05-22\", \"2024-05-23\"], \"weather_code\": [1, 1, 1, null], \"temperature_2m_min\": [19.3, 19.5, 20.9, null], \"temperature_2m_mean\": [24.2, 24.1, null, null], \"temperature_2m_max\": [29.1, 29.2, 22.0, null], \"precipitation_sum\": [0.00, 0.00, null, null], \"rain_sum\": [0.00, 0.00, null, null], \"snowfall_sum\": [0.00, 0.00, null, null] }\n},{ \n  \"latitude\": 38.558872, \"longitude\": 22.377718, \"generationtime_ms\": 0.2340078353881836, \"utc_offset_seconds\": 10800, \"timezone\": \"Europe/Athens\", \"timezone_abbreviation\": \"EEST\", \"elevation\": 206.0, \"location_id\": 1, \n  \"daily_units\": { \"time\": \"iso8601\", \"weather_code\": \"wmo code\", \"temperature_2m_min\": \"°C\", \"temperature_2m_mean\": \"°C\", \"temperature_2m_max\": \"°C\", \"precipitation_sum\": \"mm\", \"rain_sum\": \"mm\", \"snowfall_sum\": \"cm\" }, \n  \"daily\": { \"time\": [\"2024-05-20\", \"2024-05-21\", \"2024-05-22\", \"2024-05-23\"], \"weather_code\": [51, 2, 0, null], \"temperature_2m_min\": [18.6, 18.9, 18.3, null], \"temperature_2m_mean\": [24.0, 24.4, null, null], \"temperature_2m_max\": [29.3, 30.9, 19.3, null], \"precipitation_sum\": [0.10, 0.00, null, null], \"rain_sum\": [0.10, 0.00, null, null], \"snowfall_sum\": [0.00, 0.00, null, null] } \n}]\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nif ( payload.length !== locations.length ) {\n    throw `[ERROR] Response not matching locations length (${payload.length} vs ${locations.length}).`;\n}\n\nconst result = [];\nfor ( let i = 0; i < payload.length; i++ ) {\n    const location = locations[ i ];\n    const { time, \n        weather_code,\n        temperature_2m_min,\n        temperature_2m_mean,\n        temperature_2m_max,\n        precipitation_sum,\n        rain_sum,\n        snowfall_sum,\n    } = payload[ i ].daily;\n\n    for ( let j = 0; j < time.length; j++ ) {\n        if ( time[ j ] == requestDate ) {\n            if (\n                temperature_2m_min[ j ] == undefined || temperature_2m_min[ j ] === null &&\n                temperature_2m_mean[ j ] === undefined || temperature_2m_mean[ j ] === null &&\n                temperature_2m_max[ j ] === undefined || temperature_2m_max[ j ] === null &&\n                precipitation_sum[ j ] === undefined || precipitation_sum[ j ] === null\n            ) {\n                throw `[WARNING] Weather data not available yet (${requestDate}).`;\n            }\n            result.push( {\n                date: requestDate,\n                location,\n                weather_code: weather_code[ j ],\n                temperature_2m_min: temperature_2m_min[ j ],\n                temperature_2m_mean:temperature_2m_mean[ j ],\n                temperature_2m_max: temperature_2m_max[ j ],\n                precipitation_sum: precipitation_sum[ j ],\n                rain_sum: rain_sum[ i ],\n                snowfall_sum: snowfall_sum[ i ]\n            } );\n            break;\n        }\n    }\n    if ( result.length !== i + 1 ) {\n        throw `[ERROR] No of the responded times matching requested date (${requestDate}).`;\n    }\n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "8f401e0f3efb798c"
            ]
        ]
    },
    {
        "id": "e83e73798f7932b9",
        "type": "catch",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "scope": [
            "2fb4cc5afb478162",
            "40d5847be55c9a2c",
            "9eeb04756ec868d7"
        ],
        "uncaught": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "60c6b15d3afe44f8"
            ]
        ]
    },
    {
        "id": "60c6b15d3afe44f8",
        "type": "change",
        "z": "1dc82d7c84b0491f",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "015c0ec7d6ec099f",
        "type": "delay",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 580,
        "wires": [
            [
                "2fb4cc5afb478162"
            ]
        ]
    },
    {
        "id": "c6ca5fcc2f3a3473",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "insert weather",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const {\n        date,\n        location,\n        weather_code,\n        temperature_2m_min,\n        temperature_2m_mean,\n        temperature_2m_max,\n        precipitation_sum,\n        rain_sum,\n        snowfall_sum\n    } = row;\n\n    rows.push( `(\"${date}\",${location.id},${weather_code},${temperature_2m_min},${temperature_2m_mean},${temperature_2m_max},${precipitation_sum},${rain_sum},${snowfall_sum})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO weather (date,location_id,weather_code,temperature_2m_min,temperature_2m_mean,temperature_2m_max,precipitation_sum,rain_sum,snowfall_sum) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "19824c02c61e45f3",
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "19824c02c61e45f3",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "665e54770bf372e0"
            ]
        ]
    },
    {
        "id": "b313c853354a574e",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'weatherLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.publish = undefined;\nmsg.payload = `Weather update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "015c0ec7d6ec099f",
                "1d13a35b302aaeed"
            ]
        ]
    },
    {
        "id": "d30b920902618358",
        "type": "link out",
        "z": "1dc82d7c84b0491f",
        "name": "link out 14",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "60ac5ac331342725",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call publish",
        "links": [
            "fc7aaaa19c985f47"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "b313c853354a574e"
            ]
        ]
    },
    {
        "id": "8f401e0f3efb798c",
        "type": "change",
        "z": "1dc82d7c84b0491f",
        "name": "preset publish",
        "rules": [
            {
                "t": "set",
                "p": "publish",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "c6ca5fcc2f3a3473"
            ]
        ]
    },
    {
        "id": "665e54770bf372e0",
        "type": "change",
        "z": "1dc82d7c84b0491f",
        "name": "set publish",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "publish",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "60ac5ac331342725"
            ]
        ]
    },
    {
        "id": "a3aeb5ed388a6be4",
        "type": "link in",
        "z": "61022c35528d6ffa",
        "name": "link in 15",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "c7c23ca1cd6e436a"
            ]
        ]
    },
    {
        "id": "c7c23ca1cd6e436a",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "savings request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'savingsLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No savings lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 5 ) {\n    msg.payload = \"Savings up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "ee151d8aa972eca3"
            ],
            [
                "47560b1a83aa9b08",
                "4342dfe695e76b47"
            ]
        ]
    },
    {
        "id": "ee151d8aa972eca3",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst requestDate = msg.payload;\nconst reverseDate = requestDate.split( '-' ).reverse().join( '-' );\n\nconst url = global.get( 'savingsUrl' ) + reverseDate;\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "47560b1a83aa9b08",
                "d7b103a6c1f51e56"
            ]
        ]
    },
    {
        "id": "d7b103a6c1f51e56",
        "type": "http request",
        "z": "61022c35528d6ffa",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "37e47c2be4e6d111",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "704eed10a1bf43df"
            ]
        ]
    },
    {
        "id": "47560b1a83aa9b08",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "704eed10a1bf43df",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "parse response",
        "func": "const reservoirs = global.get( 'reservoirs' );\nconst { requestDate } = msg.requestParams;\n\n/*\nHTML RESPONSE LOOKS LIKE =>\n<table cellspacing=\"0\" rules=\"all\" border=\"1\" id=\"grdSavings\" style=\"width:910px;border-collapse:collapse;\">\n  <tr>\n    <th scope=\"col\">Ημερομηνία</th><th scope=\"col\">ΕΥΗΝΟΣ</th><th scope=\"col\">ΜΑΡΑΘΩΝΑΣ</th><th scope=\"col\">ΜΟΡΝΟΣ</th><th scope=\"col\">ΥΛΙΚΗ</th><th scope=\"col\">ΣΥΝΟΛΟ</th>\n  </tr><tr>\n    <td>22/05/2024</td><td>67.414.000 </td><td>26.047.000 </td><td>442.235.000 </td><td>338.832.000 </td><td>874.528.000 </td>\n  </tr><tr>\n    <td>23/05/2024</td><td>67.414.000 </td><td>26.132.000 </td><td>441.128.000 </td><td>338.644.000 </td><td>873.318.000 </td>\n  </tr>\n</table>\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nconst html = payload;\nconst table = html.split(\"<table\")[1];\n\nconst rows = table.match(/(<tr)(.*?)(<\\/tr>)/gs);\n\nfor (let i = 0; i < rows.length; i++) {\n\n    if (i > 0) { // to skip labels\n        let values = rows[i].match( /(<td>)(.*?)(<\\/td>)/gs ); // s = including new line in chars\n        values = values.map( v => v.replace( \"<td>\", \"\" ).replace( \"</td>\", \"\" ).trim() );\n        values = values.map( v => v.replaceAll( \".\", \"\" ) ); // 1.234.000 => 1234000\n\n        const [ dd, mm, yyyy ] = values[ 0 ].split( '/' );\n        const date = `${yyyy}-${mm}-${dd}`;\n\n        if ( date === requestDate ) {\n\n            values = values.slice( 1, -1 ); // exclude date and total\n            // node.warn( values );\n\n            if ( values.length !== reservoirs.length ) {\n                throw `[ERROR] Response not matching reservoirs length (${values.length} vs ${reservoirs.length}).`;\n            }\n\n            const result = [];\n            for ( let j = 0; j < values.length; j++ ) {\n\n                const reservoir = reservoirs[ j ];\n                result.push( {\n                    date,\n                    reservoir,\n                    quantity: values[ j ]\n                \n                } );\n            }\n            msg.payload = result;\n            return msg;\n        }\n    }\n}\n\nthrow `[WARNING] Savings data not available yet (${requestDate}).`;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "b7122021235d740f"
            ]
        ]
    },
    {
        "id": "7977c8012078d6f0",
        "type": "catch",
        "z": "61022c35528d6ffa",
        "name": "",
        "scope": [
            "c7c23ca1cd6e436a",
            "d7b103a6c1f51e56",
            "704eed10a1bf43df"
        ],
        "uncaught": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "2eac0f1e97633ab0"
            ]
        ]
    },
    {
        "id": "2eac0f1e97633ab0",
        "type": "change",
        "z": "61022c35528d6ffa",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "810a0a9d8b3d7e36",
        "type": "delay",
        "z": "61022c35528d6ffa",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 620,
        "wires": [
            [
                "c7c23ca1cd6e436a"
            ]
        ]
    },
    {
        "id": "a076f80433e32a0f",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "insert savings",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const { date, reservoir, quantity } = row;\n\n    rows.push( `(\"${date}\",${reservoir.id},${quantity})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO savings (date,reservoir_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "68451f8805a4ded4",
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "68451f8805a4ded4",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "c3aa965745a302cd"
            ]
        ]
    },
    {
        "id": "53d7020558aeb4ee",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'savingsLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.payload = `Savings update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 540,
        "wires": [
            [
                "810a0a9d8b3d7e36",
                "47560b1a83aa9b08"
            ]
        ]
    },
    {
        "id": "4342dfe695e76b47",
        "type": "link out",
        "z": "61022c35528d6ffa",
        "name": "link out 17",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "649a9d800333157e",
        "type": "comment",
        "z": "61022c35528d6ffa",
        "name": "about ca certificate",
        "info": "  SPECIFIC SETTINGS IN NODE-RED:\n  in settings.js => process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0\n  in http-request => tick \"Enable secure (SSL/TLS) connection\" > create new TLS Config > upload CA certicicate > uncheck \"Verify server certificate\".\n  based on: unable to verify the first certificate in Node-Red\n  https://stackoverflow.com/questions/42983635/error-unable-to-verify-the-first-certificate-in-node-red/42984958#42984958\n\n  GENERAL INFO USING NODEJS:\n  fetch( \"https://eydap.gr\" );\n  error: unable to verify the first certificate ('UNABLE_TO_VERIFY_LEAF_SIGNATURE')\n  solution: process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0;\n  Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification\n  based on: Node Fetch Request Fails on Server: Unable to Get Local Issuer Certificate\n  https://stackoverflow.com/questions/51995925/node-fetch-request-fails-on-server-unable-to-get-local-issuer-certificate\n\n  curl -v https://www.eydap.gr\n  error: unable to get local issuer certificate\n  solution: chrome > https://eydap.gr > connection is secure > certificate is valid > details > export (crt file)\n  (create a backup of /etc/ssl/certs/ca-certificates.crt)\n  append crt file content in /etc/ssl/certs/ca-certificates.crt\n",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "b7122021235d740f",
        "type": "change",
        "z": "61022c35528d6ffa",
        "name": "preset publish",
        "rules": [
            {
                "t": "set",
                "p": "publish",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "a076f80433e32a0f"
            ]
        ]
    },
    {
        "id": "c3aa965745a302cd",
        "type": "change",
        "z": "61022c35528d6ffa",
        "name": "set publish",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "publish",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "e155bbefca1f3401"
            ]
        ]
    },
    {
        "id": "e155bbefca1f3401",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call publish",
        "links": [
            "346adf5f28e6d8c6"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "53d7020558aeb4ee"
            ]
        ]
    },
    {
        "id": "b13255295c221290",
        "type": "link call",
        "z": "61022c35528d6ffa",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 770,
        "y": 560,
        "wires": [
            [
                "47c0cc3fa1788772"
            ]
        ]
    },
    {
        "id": "3d489cd28a96257f",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "select single",
        "func": "const query = `\nSELECT SUBSTR(date,1,4) AS year, count( date ) as days, SUM( day_sum ) AS period_sum, AVG( day_sum ) AS period_avg FROM \n(\nSELECT count(*), date, SUM( quantity ) AS day_sum, avg( quantity ) AS quantity \nFROM savings \nWHERE ( SUBSTR(date,6,2)=='05' AND SUBSTR(date,9,2)>'11' ) OR ( SUBSTR(date,6,2)=='06' AND SUBSTR(date,9,2)<='11' )\nGROUP BY date\n)\nGROUP BY SUBSTR(date,1,4);\n`;\n//INSERT INTO savings (date,reservoir_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "b13255295c221290"
            ]
        ]
    },
    {
        "id": "09bf6c5347e6067b",
        "type": "inject",
        "z": "61022c35528d6ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "3d489cd28a96257f"
            ]
        ]
    },
    {
        "id": "47c0cc3fa1788772",
        "type": "debug",
        "z": "61022c35528d6ffa",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0496667bb6e2d75",
        "type": "function",
        "z": "61022c35528d6ffa",
        "name": "select double",
        "func": "const query = `\nSELECT \na.year AS aYear, b.year as bYear, a.year || '-' || b.year AS years,\na.days AS aDays, b.days as bDays, a.days + b.days AS days,\na.period_sum AS aPeriod_sum, b.period_sum AS bPeriod_sum, a.period_sum + b.period_sum AS period_sum,\n( a.period_sum + b.period_sum ) / ( a.days + b.days ) AS period_avg\nFROM\n(\n\tSELECT SUBSTR(date,1,4) AS year, count( date ) as days, SUM( day_sum ) AS period_sum, AVG( day_sum ) AS period_avg \n    FROM \n\t(\n\t\tSELECT count(*), date, SUM( quantity ) AS day_sum, avg( quantity ) AS quantity \n\t\tFROM savings \n\t\tWHERE SUBSTR(date,6,2)=='12' AND SUBSTR(date,9,2)>'11'\n\t\tGROUP BY date\n\t)\n\tGROUP BY SUBSTR(date,1,4) ORDER BY SUBSTR(date,1,4)\n) a\nJOIN\n(\n\tSELECT SUBSTR(date,1,4) AS year, count( date ) as days, SUM( day_sum ) AS period_sum, AVG( day_sum ) AS period_avg \n\tFROM \n\t(\n\t\tSELECT count(*), date, SUM( quantity ) AS day_sum, avg( quantity ) AS quantity \n\t\tFROM savings \n\t\tWHERE SUBSTR(date,6,2)=='01' AND SUBSTR(date,9,2)<='11'\n\t\tGROUP BY date\n\t)\n\tGROUP BY SUBSTR(date,1,4) ORDER BY SUBSTR(date,1,4)\n) b\nON CAST(a.year AS INT)=CAST(b.year AS INT)-1;`;\n//INSERT INTO savings (date,reservoir_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "b13255295c221290"
            ]
        ]
    },
    {
        "id": "55bda5e00745f1da",
        "type": "inject",
        "z": "61022c35528d6ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 440,
        "wires": [
            [
                "b0496667bb6e2d75"
            ]
        ]
    },
    {
        "id": "b3c337ed58cf68bd",
        "type": "link in",
        "z": "d21f4bda462bb9a5",
        "name": "link in 16",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "722008d1f8785f62"
            ]
        ]
    },
    {
        "id": "722008d1f8785f62",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "production request loop",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nconst lastDate = global.get( 'productionLastDate' );\n\nif ( ! lastDate || lastDate === \"\" ) {\n    throw \"[ERROR] No production lastDate found.\"\n}\n\nif ( daysDistance( lastDate, today ) <= 5 ) {\n    msg.payload = \"Production up to date.\"\n    return [ null, msg ];\n}\n\nconst nextLastDate = timeRepr( nextDate( lastDate ), 'YYYY-MM-DD' );\nmsg.payload = nextLastDate;\n\nreturn [ msg, null ];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "ca1ff0ef5d5f0a54"
            ],
            [
                "0c42eba578cf0c01",
                "49ebaced1967f034"
            ]
        ]
    },
    {
        "id": "ca1ff0ef5d5f0a54",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "set url",
        "func": "const { timeRepr, daysDistance, nextDate } = global.get( 'dateHelpers' );\n\nconst requestDate = msg.payload;\nconst reverseDate = requestDate.split( '-' ).reverse().join( '-' );\n\nconst url = global.get( 'productionUrl' ) + reverseDate;\n\nmsg.url = url;\nmsg.requestParams = {\n    requestDate,\n};\n\nmsg.payload = `(${requestDate}) => ${url}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "0c42eba578cf0c01",
                "ed65cfa6e69ecc57"
            ]
        ]
    },
    {
        "id": "ed65cfa6e69ecc57",
        "type": "http request",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "37e47c2be4e6d111",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "382e19da3f5505a7"
            ]
        ]
    },
    {
        "id": "0c42eba578cf0c01",
        "type": "link call",
        "z": "d21f4bda462bb9a5",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "382e19da3f5505a7",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "parse response",
        "func": "const factories = global.get( 'factories' );\nconst { requestDate } = msg.requestParams;\n\n/*\nHTML RESPONSE LOOKS LIKE =>\n<table cellspacing=\"0\" rules=\"all\" border=\"1\" id=\"grdSavings\" style=\"width:910px;border-collapse:collapse;\">\n  <tr>\n    <th scope=\"col\">Ημερομηνία</th><th scope=\"col\">ΑΣΠΡΟΠΥΡΓΟΣ</th><th scope=\"col\">ΓΑΛΑΤΣΙ</th><th scope=\"col\">ΚΙΟΥΡΚΑ</th><th scope=\"col\">ΜΕΝΙΔΙ</th><th scope=\"col\">ΣΥΝΟΛΟ</th>\n  </tr><tr>\n    <td>21/05/2024</td><td>131.020 </td><td>334.564 </td><td>139.389 </td><td>555.391 </td><td>1.160.364 </td>\n  </tr><tr>\n    <td>22/05/2024</td><td>132.730 </td><td>342.627 </td><td>124.210 </td><td>582.403 </td><td>1.181.970 </td>\n  </tr>\n</table>\n*/\n\nconst { statusCode, payload } = msg;\n\nif ( statusCode !== 200 ) {\n    throw `[ERROR] Status code ${statusCode}. ${payload}.`;\n}\n\nconst html = payload;\nconst table = html.split(\"<table\")[1];\n\nconst rows = table.match(/(<tr)(.*?)(<\\/tr>)/gs);\n\nfor (let i = 0; i < rows.length; i++) {\n\n    if (i > 0) { // to skip labels\n        let values = rows[i].match( /(<td>)(.*?)(<\\/td>)/gs ); // s = including new line in chars\n        values = values.map( v => v.replace( \"<td>\", \"\" ).replace( \"</td>\", \"\" ).trim() );\n        values = values.map( v => v.replaceAll( \".\", \"\" ) ); // 1.234.000 => 1234000\n\n        const [ dd, mm, yyyy ] = values[ 0 ].split( '/' );\n        const date = `${yyyy}-${mm}-${dd}`;\n\n        if ( date === requestDate ) {\n\n            values = values.slice( 1, -1 ); // exclude date and total\n            // node.warn( values );\n\n            if ( values.length !== factories.length ) {\n                throw `[ERROR] Response not matching factories length (${values.length} vs ${factories.length}).`;\n            }\n\n            const result = [];\n            for ( let j = 0; j < values.length; j++ ) {\n\n                const factory = factories[ j ];\n                result.push( {\n                    date,\n                    factory,\n                    quantity: values[ j ]\n                \n                } );\n            }\n            msg.payload = result;\n            return msg;\n        }\n    }\n}\n\nthrow `[WARNING] Production data not available yet (${requestDate}).`;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "2d0286ed0a9be577"
            ]
        ]
    },
    {
        "id": "51fe3a33ce3bb6f9",
        "type": "catch",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "scope": [
            "722008d1f8785f62",
            "ed65cfa6e69ecc57",
            "382e19da3f5505a7"
        ],
        "uncaught": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "14e5d743cc9f4824"
            ]
        ]
    },
    {
        "id": "14e5d743cc9f4824",
        "type": "change",
        "z": "d21f4bda462bb9a5",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "809c36996292b6ee",
        "type": "delay",
        "z": "d21f4bda462bb9a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 620,
        "wires": [
            [
                "722008d1f8785f62"
            ]
        ]
    },
    {
        "id": "15d8990b4f617272",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "insert production",
        "func": "const { payload } = msg;\n\nconst rows = [];\nfor ( let row of payload ) {\n    const { date, factory, quantity } = row;\n\n    rows.push( `(\"${date}\",${factory.id},${quantity})` );\n}\n\nconst values = rows.join( ',' );\n\nconst query = `INSERT INTO production (date,factory_id,quantity) VALUES ${values}`;\n\nmsg.topic = query;\nmsg.payload = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "45074707b3343bdf",
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "45074707b3343bdf",
        "type": "link call",
        "z": "d21f4bda462bb9a5",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "8e5dfc208b5fa7a5"
            ]
        ]
    },
    {
        "id": "150def491b82fe85",
        "type": "function",
        "z": "d21f4bda462bb9a5",
        "name": "set last date",
        "func": "const { requestDate } = msg.requestParams;\nglobal.set( 'productionLastDate', requestDate );\n\nmsg.topic = undefined;\nmsg.requestParams = undefined;\nmsg.payload = `Production update (${requestDate})`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 540,
        "wires": [
            [
                "809c36996292b6ee",
                "0c42eba578cf0c01"
            ]
        ]
    },
    {
        "id": "49ebaced1967f034",
        "type": "link out",
        "z": "d21f4bda462bb9a5",
        "name": "link out 18",
        "mode": "return",
        "links": [],
        "x": 775,
        "y": 60,
        "wires": []
    },
    {
        "id": "c1940731334384fb",
        "type": "comment",
        "z": "d21f4bda462bb9a5",
        "name": "about ca certificate",
        "info": "  SPECIFIC SETTINGS IN NODE-RED:\n  in settings.js => process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0\n  in http-request => tick \"Enable secure (SSL/TLS) connection\" > create new TLS Config > upload CA certicicate > uncheck \"Verify server certificate\".\n  based on: unable to verify the first certificate in Node-Red\n  https://stackoverflow.com/questions/42983635/error-unable-to-verify-the-first-certificate-in-node-red/42984958#42984958\n\n  GENERAL INFO USING NODEJS:\n  fetch( \"https://eydap.gr\" );\n  error: unable to verify the first certificate ('UNABLE_TO_VERIFY_LEAF_SIGNATURE')\n  solution: process.env[\"NODE_TLS_REJECT_UNAUTHORIZED\"] = 0;\n  Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification\n  based on: Node Fetch Request Fails on Server: Unable to Get Local Issuer Certificate\n  https://stackoverflow.com/questions/51995925/node-fetch-request-fails-on-server-unable-to-get-local-issuer-certificate\n\n  curl -v https://www.eydap.gr\n  error: unable to get local issuer certificate\n  solution: chrome > https://eydap.gr > connection is secure > certificate is valid > details > export (crt file)\n  (create a backup of /etc/ssl/certs/ca-certificates.crt)\n  append crt file content in /etc/ssl/certs/ca-certificates.crt\n",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d0286ed0a9be577",
        "type": "change",
        "z": "d21f4bda462bb9a5",
        "name": "preset publish",
        "rules": [
            {
                "t": "set",
                "p": "publish",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "15d8990b4f617272"
            ]
        ]
    },
    {
        "id": "8e5dfc208b5fa7a5",
        "type": "change",
        "z": "d21f4bda462bb9a5",
        "name": "set publish",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "publish",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "8c2b091c486df767"
            ]
        ]
    },
    {
        "id": "8c2b091c486df767",
        "type": "link call",
        "z": "d21f4bda462bb9a5",
        "name": "call publish",
        "links": [
            "ccdcc2fdde08e718"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "150def491b82fe85"
            ]
        ]
    },
    {
        "id": "3c4c570a2f5ad214",
        "type": "amqp-out",
        "z": "bac88e4feb8bab3d",
        "name": "weather exchange",
        "broker": "774630f253d36966",
        "exchangeName": "weather",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc7aaaa19c985f47",
        "type": "link in",
        "z": "bac88e4feb8bab3d",
        "name": "link in weather exchange",
        "links": [],
        "x": 115,
        "y": 60,
        "wires": [
            [
                "3c4c570a2f5ad214",
                "735079cce6fe051f",
                "78327d262f4b2133"
            ]
        ]
    },
    {
        "id": "2a75c15a621dcc4c",
        "type": "link call",
        "z": "bac88e4feb8bab3d",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "735079cce6fe051f",
        "type": "change",
        "z": "bac88e4feb8bab3d",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Publish weather...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "2a75c15a621dcc4c"
            ]
        ]
    },
    {
        "id": "7b776b5260599c79",
        "type": "amqp-out",
        "z": "bac88e4feb8bab3d",
        "name": "savings exchange",
        "broker": "774630f253d36966",
        "exchangeName": "savings",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "22949025a62cfe73",
        "type": "amqp-out",
        "z": "bac88e4feb8bab3d",
        "name": "production exchange",
        "broker": "774630f253d36966",
        "exchangeName": "production",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 300,
        "y": 340,
        "wires": []
    },
    {
        "id": "36dab2cdafd398dc",
        "type": "change",
        "z": "bac88e4feb8bab3d",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Publish savings...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "2a75c15a621dcc4c"
            ]
        ]
    },
    {
        "id": "565eaf0f4ec6d9d3",
        "type": "change",
        "z": "bac88e4feb8bab3d",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Publish production...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "2a75c15a621dcc4c"
            ]
        ]
    },
    {
        "id": "346adf5f28e6d8c6",
        "type": "link in",
        "z": "bac88e4feb8bab3d",
        "name": "link in savings exchange",
        "links": [],
        "x": 115,
        "y": 200,
        "wires": [
            [
                "7b776b5260599c79",
                "36dab2cdafd398dc",
                "78327d262f4b2133"
            ]
        ]
    },
    {
        "id": "ccdcc2fdde08e718",
        "type": "link in",
        "z": "bac88e4feb8bab3d",
        "name": "link in production exchange",
        "links": [],
        "x": 115,
        "y": 340,
        "wires": [
            [
                "22949025a62cfe73",
                "565eaf0f4ec6d9d3",
                "78327d262f4b2133"
            ]
        ]
    },
    {
        "id": "e5a271de8bd6c1a0",
        "type": "amqp-out",
        "z": "bac88e4feb8bab3d",
        "name": "result exchange",
        "broker": "774630f253d36966",
        "exchangeName": "result",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "1cb08c474388e315",
        "type": "change",
        "z": "bac88e4feb8bab3d",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Publish result...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "2a75c15a621dcc4c"
            ]
        ]
    },
    {
        "id": "1f299931cf658858",
        "type": "link in",
        "z": "bac88e4feb8bab3d",
        "name": "link in result exchange",
        "links": [],
        "x": 115,
        "y": 480,
        "wires": [
            [
                "e5a271de8bd6c1a0",
                "1cb08c474388e315",
                "78327d262f4b2133"
            ]
        ]
    },
    {
        "id": "9dfbedb5f90985c2",
        "type": "catch",
        "z": "bac88e4feb8bab3d",
        "name": "",
        "scope": [
            "3c4c570a2f5ad214",
            "7b776b5260599c79",
            "22949025a62cfe73",
            "e5a271de8bd6c1a0"
        ],
        "uncaught": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "d3f7bceabc093354"
            ]
        ]
    },
    {
        "id": "d3f7bceabc093354",
        "type": "change",
        "z": "bac88e4feb8bab3d",
        "name": "set log message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "2a75c15a621dcc4c"
            ]
        ]
    },
    {
        "id": "f05efffd73c83168",
        "type": "debug",
        "z": "bac88e4feb8bab3d",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "220fa75884132e53",
        "type": "amqp-in",
        "z": "bac88e4feb8bab3d",
        "name": "queue.result.consumer1",
        "broker": "f95f44a518aa1c5e",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "result",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "queue.result.consumer1",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "f05efffd73c83168"
            ]
        ]
    },
    {
        "id": "a13fad69333b4888",
        "type": "amqp-in",
        "z": "bac88e4feb8bab3d",
        "name": "queue.weather.consumer1",
        "broker": "f95f44a518aa1c5e",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "weather",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "queue.weather.consumer1",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 670,
        "y": 400,
        "wires": [
            [
                "56b345bc8dd76f42"
            ]
        ]
    },
    {
        "id": "56b345bc8dd76f42",
        "type": "debug",
        "z": "bac88e4feb8bab3d",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "519126195694f9c7",
        "type": "amqp-in",
        "z": "bac88e4feb8bab3d",
        "name": "queue.savings.consumer1",
        "broker": "f95f44a518aa1c5e",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "savings",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "queue.savings.consumer1",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "beacc13fa3b4f5f9"
            ]
        ]
    },
    {
        "id": "beacc13fa3b4f5f9",
        "type": "debug",
        "z": "bac88e4feb8bab3d",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "dcdc291289cc929f",
        "type": "amqp-in",
        "z": "bac88e4feb8bab3d",
        "name": "queue.production.consumer1",
        "broker": "f95f44a518aa1c5e",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "production",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "queue.production.consumer1",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "a7e5bbdf47f75d27"
            ]
        ]
    },
    {
        "id": "a7e5bbdf47f75d27",
        "type": "debug",
        "z": "bac88e4feb8bab3d",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "78327d262f4b2133",
        "type": "link out",
        "z": "bac88e4feb8bab3d",
        "name": "link out 19",
        "mode": "return",
        "links": [],
        "x": 65,
        "y": 640,
        "wires": []
    },
    {
        "id": "776d2b916bc913ec",
        "type": "inject",
        "z": "6ae09610019427a1",
        "name": "read all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "6c22dca3a90f370d"
            ]
        ]
    },
    {
        "id": "e86870e57961baa9",
        "type": "debug",
        "z": "6ae09610019427a1",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "562ebe586d0c898a",
        "type": "function",
        "z": "6ae09610019427a1",
        "name": "get response",
        "func": "const { payload } = msg;\nconst names = payload.map( x => x.name );\nmsg.payload = names;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 60,
        "wires": [
            [
                "295f75285f76a061"
            ]
        ]
    },
    {
        "id": "cbca47aa4af44010",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "562ebe586d0c898a"
            ]
        ]
    },
    {
        "id": "87c347b9923fc1a6",
        "type": "function",
        "z": "6ae09610019427a1",
        "name": "set read-all request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/exchanges/${AW_VHOST}`;\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "cbca47aa4af44010"
            ]
        ]
    },
    {
        "id": "67e4c6881c624e0b",
        "type": "link in",
        "z": "6ae09610019427a1",
        "name": "link in read all",
        "links": [],
        "x": 75,
        "y": 60,
        "wires": [
            [
                "87c347b9923fc1a6"
            ]
        ]
    },
    {
        "id": "295f75285f76a061",
        "type": "link out",
        "z": "6ae09610019427a1",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 865,
        "y": 180,
        "wires": []
    },
    {
        "id": "6c22dca3a90f370d",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call read all",
        "links": [
            "67e4c6881c624e0b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "e86870e57961baa9"
            ]
        ]
    },
    {
        "id": "6e8a68ba16dde45f",
        "type": "function",
        "z": "6ae09610019427a1",
        "name": "set create request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' )\nconst exchanges = AW_EXCHANGES.split( ',' );\n\nfor ( let exchange of exchanges ) {\n    const path = `/exchanges/${AW_VHOST}/${exchange}`;\n\n    const body = {\n        type: \"fanout\",\n        auto_delete: false, \n        durable: true, \n        internal: false, \n        arguments: {}   \n    };\n\n    msg.url = path;\n    msg.method = 'PUT';\n    msg.payload = body;\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "2183dbb7e26f1944"
            ]
        ]
    },
    {
        "id": "0d6191f4f43cbfd8",
        "type": "link in",
        "z": "6ae09610019427a1",
        "name": "link in create",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "6e8a68ba16dde45f"
            ]
        ]
    },
    {
        "id": "e3d67d8206f62ffb",
        "type": "link in",
        "z": "6ae09610019427a1",
        "name": "link in read",
        "links": [],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "82b6f6eac4d35b07"
            ]
        ]
    },
    {
        "id": "82b6f6eac4d35b07",
        "type": "function",
        "z": "6ae09610019427a1",
        "name": "set read request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' )\nconst exchanges = AW_EXCHANGES.split( ',' );\n\nfor ( let exchange of exchanges ) {\n    const path = `/exchanges/${AW_VHOST}/${exchange}`;\n    msg.url = path;\n    msg.method = 'GET';\n    msg.payload = {};\n    node.send( msg );\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "2183dbb7e26f1944"
            ]
        ]
    },
    {
        "id": "2183dbb7e26f1944",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "295f75285f76a061"
            ]
        ]
    },
    {
        "id": "c35237e34045a926",
        "type": "link in",
        "z": "6ae09610019427a1",
        "name": "link delete",
        "links": [],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "efd6021f27927c9b"
            ]
        ]
    },
    {
        "id": "efd6021f27927c9b",
        "type": "function",
        "z": "6ae09610019427a1",
        "name": "set delete request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' )\nconst exchanges = AW_EXCHANGES.split( ',' );\n\nfor ( let exchange of exchanges ) {\n    const path = `/exchanges/${AW_VHOST}/${exchange}`;\n    msg.url = path;\n    msg.method = 'DELETE';\n    msg.payload = {};\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "2183dbb7e26f1944"
            ]
        ]
    },
    {
        "id": "b998f51f5372c943",
        "type": "inject",
        "z": "6ae09610019427a1",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "9b225dd7d5e57149"
            ]
        ]
    },
    {
        "id": "9b225dd7d5e57149",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call create",
        "links": [
            "0d6191f4f43cbfd8"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "e86870e57961baa9"
            ]
        ]
    },
    {
        "id": "e8a46fa4daacae1e",
        "type": "inject",
        "z": "6ae09610019427a1",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "81e8da693b47d621"
            ]
        ]
    },
    {
        "id": "81e8da693b47d621",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call read",
        "links": [
            "e3d67d8206f62ffb"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "e86870e57961baa9"
            ]
        ]
    },
    {
        "id": "f9a51161d692516a",
        "type": "inject",
        "z": "6ae09610019427a1",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "795fe1bc30c84ef6"
            ]
        ]
    },
    {
        "id": "795fe1bc30c84ef6",
        "type": "link call",
        "z": "6ae09610019427a1",
        "name": "call delete",
        "links": [
            "c35237e34045a926"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "e86870e57961baa9"
            ]
        ]
    },
    {
        "id": "09dc96062eae2eea",
        "type": "comment",
        "z": "6ae09610019427a1",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e1256bea85c1f7d",
        "type": "inject",
        "z": "c24dbc290a05dc25",
        "name": "read all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "b782ce62626d28be"
            ]
        ]
    },
    {
        "id": "d0ce12100526f940",
        "type": "debug",
        "z": "c24dbc290a05dc25",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "5427f574b7ba3e65",
        "type": "function",
        "z": "c24dbc290a05dc25",
        "name": "get response",
        "func": "const { payload } = msg;\nconst names = payload.map( x => x.name );\nmsg.payload = names;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 60,
        "wires": [
            [
                "80b4819ac99b0c5c"
            ]
        ]
    },
    {
        "id": "46a7f293db118607",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "5427f574b7ba3e65"
            ]
        ]
    },
    {
        "id": "a8bb9686fbfb7e4e",
        "type": "function",
        "z": "c24dbc290a05dc25",
        "name": "set read-all request",
        "func": "const path = '/vhosts'\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "46a7f293db118607"
            ]
        ]
    },
    {
        "id": "bfc63f71b5d10fb1",
        "type": "link in",
        "z": "c24dbc290a05dc25",
        "name": "link in read all",
        "links": [],
        "x": 75,
        "y": 60,
        "wires": [
            [
                "a8bb9686fbfb7e4e"
            ]
        ]
    },
    {
        "id": "80b4819ac99b0c5c",
        "type": "link out",
        "z": "c24dbc290a05dc25",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 865,
        "y": 180,
        "wires": []
    },
    {
        "id": "b782ce62626d28be",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call read all",
        "links": [
            "bfc63f71b5d10fb1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "d0ce12100526f940"
            ]
        ]
    },
    {
        "id": "6fc9ee6cb10d1373",
        "type": "function",
        "z": "c24dbc290a05dc25",
        "name": "set create request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/vhosts/${AW_VHOST}`\n\nconst body = {\n    description: \"athens-water project\", \n    tags: \"athens,water\"\n};\n\nmsg.url = path;\nmsg.method = 'PUT';\nmsg.payload = body;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "49302832092d868a"
            ]
        ]
    },
    {
        "id": "e0a96c8dbc56b691",
        "type": "link in",
        "z": "c24dbc290a05dc25",
        "name": "link in create",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "6fc9ee6cb10d1373"
            ]
        ]
    },
    {
        "id": "3ca2d7f343cab32b",
        "type": "link in",
        "z": "c24dbc290a05dc25",
        "name": "link in read",
        "links": [],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "52fca4d5088f9489"
            ]
        ]
    },
    {
        "id": "52fca4d5088f9489",
        "type": "function",
        "z": "c24dbc290a05dc25",
        "name": "set read request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/vhosts/${AW_VHOST}`\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "49302832092d868a"
            ]
        ]
    },
    {
        "id": "49302832092d868a",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "80b4819ac99b0c5c"
            ]
        ]
    },
    {
        "id": "d53862610aebc037",
        "type": "link in",
        "z": "c24dbc290a05dc25",
        "name": "link delete",
        "links": [],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "f6c4bd2df67bc941"
            ]
        ]
    },
    {
        "id": "f6c4bd2df67bc941",
        "type": "function",
        "z": "c24dbc290a05dc25",
        "name": "set delete request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/vhosts/${AW_VHOST}`\nmsg.url = path;\nmsg.method = 'DELETE';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "901e7b4bfbbbb00f",
        "type": "inject",
        "z": "c24dbc290a05dc25",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "c5fb12ecd559fde8"
            ]
        ]
    },
    {
        "id": "c5fb12ecd559fde8",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call create",
        "links": [
            "e0a96c8dbc56b691"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "d0ce12100526f940"
            ]
        ]
    },
    {
        "id": "6fa5caebd21523d4",
        "type": "inject",
        "z": "c24dbc290a05dc25",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "c24f89be18752c8e"
            ]
        ]
    },
    {
        "id": "c24f89be18752c8e",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call read",
        "links": [
            "3ca2d7f343cab32b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "d0ce12100526f940"
            ]
        ]
    },
    {
        "id": "c3d6541fe832663d",
        "type": "inject",
        "z": "c24dbc290a05dc25",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "316c95f3e6a1219e"
            ]
        ]
    },
    {
        "id": "316c95f3e6a1219e",
        "type": "link call",
        "z": "c24dbc290a05dc25",
        "name": "call delete",
        "links": [
            "d53862610aebc037"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "d0ce12100526f940"
            ]
        ]
    },
    {
        "id": "ee8169429c18181b",
        "type": "comment",
        "z": "c24dbc290a05dc25",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "1966a0a3058cc40f",
        "type": "http request",
        "z": "61bc9ba532c143ca",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "af05a74b2187be8a"
            ]
        ]
    },
    {
        "id": "2e4a12651ca65a7d",
        "type": "link in",
        "z": "61bc9ba532c143ca",
        "name": "link in 1",
        "links": [],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "e23273644aad2885"
            ]
        ]
    },
    {
        "id": "af05a74b2187be8a",
        "type": "link out",
        "z": "61bc9ba532c143ca",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 615,
        "y": 60,
        "wires": []
    },
    {
        "id": "e23273644aad2885",
        "type": "function",
        "z": "61bc9ba532c143ca",
        "name": "set url",
        "func": "const path = msg.url;\nconst url = 'http://localhost:15672/api' + path;\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "1966a0a3058cc40f"
            ]
        ]
    },
    {
        "id": "3129edf952964497",
        "type": "inject",
        "z": "7f69c48321b859d1",
        "name": "read all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "939e9e02aea94044"
            ]
        ]
    },
    {
        "id": "e510356c8cac6597",
        "type": "debug",
        "z": "7f69c48321b859d1",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "c3d77277699a0949",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "get response",
        "func": "const { payload } = msg;\nconst names = payload.map( x => x.name );\nmsg.payload = names;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 60,
        "wires": [
            [
                "c5bdfcc40b35de52"
            ]
        ]
    },
    {
        "id": "295d87cd3ca0ae01",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "c3d77277699a0949"
            ]
        ]
    },
    {
        "id": "0f6c58b66c08402f",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "set read-all request",
        "func": "const path = '/users'\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "295d87cd3ca0ae01"
            ]
        ]
    },
    {
        "id": "d6acb7fb405c4eba",
        "type": "link in",
        "z": "7f69c48321b859d1",
        "name": "link in read all",
        "links": [],
        "x": 75,
        "y": 60,
        "wires": [
            [
                "0f6c58b66c08402f"
            ]
        ]
    },
    {
        "id": "c5bdfcc40b35de52",
        "type": "link out",
        "z": "7f69c48321b859d1",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 865,
        "y": 180,
        "wires": []
    },
    {
        "id": "939e9e02aea94044",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call read all",
        "links": [
            "d6acb7fb405c4eba"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "e510356c8cac6597"
            ]
        ]
    },
    {
        "id": "f31c4da5bf651327",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "set create request",
        "func": "const username = flow.get( 'username' );\nconst path = `/users/${username}`\n\nconst body = {\n    password: \"pass\",\n    tags: \"athenswater,consumer\"\n};\n\nmsg.url = path;\nmsg.method = 'PUT';\nmsg.payload = body;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "fc2a889ebaf26a14"
            ]
        ]
    },
    {
        "id": "16b1ad752a073bb2",
        "type": "link in",
        "z": "7f69c48321b859d1",
        "name": "link in create",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "f31c4da5bf651327"
            ]
        ]
    },
    {
        "id": "ca69480e65efd12c",
        "type": "link in",
        "z": "7f69c48321b859d1",
        "name": "link in read",
        "links": [],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "dc4696a2e1f5a122"
            ]
        ]
    },
    {
        "id": "dc4696a2e1f5a122",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "set read request",
        "func": "const username = flow.get( 'username' );\nconst path = `/users/${username}`\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "fc2a889ebaf26a14"
            ]
        ]
    },
    {
        "id": "207a61198e624bd0",
        "type": "link in",
        "z": "7f69c48321b859d1",
        "name": "link delete",
        "links": [],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "8fbde47678a6fa8e"
            ]
        ]
    },
    {
        "id": "8fbde47678a6fa8e",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "set delete request",
        "func": "const username = flow.get( 'username' );\nconst path = `/users/${username}`\nmsg.url = path;\nmsg.method = 'DELETE';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "fc2a889ebaf26a14"
            ]
        ]
    },
    {
        "id": "1a2f482f76d7904c",
        "type": "inject",
        "z": "7f69c48321b859d1",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"consumer1\"}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "934e98accd0df2d3"
            ]
        ]
    },
    {
        "id": "934e98accd0df2d3",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call create",
        "links": [
            "16b1ad752a073bb2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "e510356c8cac6597"
            ]
        ]
    },
    {
        "id": "4e035f390321bd98",
        "type": "inject",
        "z": "7f69c48321b859d1",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "c21b5771a3924f6d"
            ]
        ]
    },
    {
        "id": "c21b5771a3924f6d",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call read",
        "links": [
            "ca69480e65efd12c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "e510356c8cac6597"
            ]
        ]
    },
    {
        "id": "cf7bb0deca9d9844",
        "type": "inject",
        "z": "7f69c48321b859d1",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "eee3aa0ab68508bb"
            ]
        ]
    },
    {
        "id": "eee3aa0ab68508bb",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call delete",
        "links": [
            "207a61198e624bd0"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "e510356c8cac6597"
            ]
        ]
    },
    {
        "id": "fc2a889ebaf26a14",
        "type": "link call",
        "z": "7f69c48321b859d1",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "c5bdfcc40b35de52"
            ]
        ]
    },
    {
        "id": "029a2635816ecdaa",
        "type": "inject",
        "z": "7f69c48321b859d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "consumer1",
        "payloadType": "str",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "f6cd4f65b9c84b0e"
            ]
        ]
    },
    {
        "id": "f6cd4f65b9c84b0e",
        "type": "function",
        "z": "7f69c48321b859d1",
        "name": "set username",
        "func": "const username = msg.payload;\nflow.set( 'username', username );\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "e510356c8cac6597"
            ]
        ]
    },
    {
        "id": "aca1c861a6621238",
        "type": "comment",
        "z": "7f69c48321b859d1",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "15af48ad3eafa219",
        "type": "debug",
        "z": "8bc24acff1041807",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "41137d87676730b2",
        "type": "link out",
        "z": "8bc24acff1041807",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 845,
        "y": 120,
        "wires": []
    },
    {
        "id": "f7bb902f29575d7a",
        "type": "function",
        "z": "8bc24acff1041807",
        "name": "set create request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst username = flow.get( 'username' );\nconst path = `/permissions/${AW_VHOST}/${username}`\nconst body = {\n    // configure: \".*\",\n    // write: \".*\",\n    // read: \".*\",\n    configure: \"^$ \",\n    write: \"^$ \",\n    // read: `^queue.*.${username}$`,\n    read: \".*\",\n};\nmsg.url = path;\nmsg.method = 'PUT';\nmsg.payload = body;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "cec898abbd371445"
            ]
        ]
    },
    {
        "id": "4e5c455f143b2ddb",
        "type": "link in",
        "z": "8bc24acff1041807",
        "name": "link in create",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "f7bb902f29575d7a"
            ]
        ]
    },
    {
        "id": "2924c32b1207ca6f",
        "type": "link in",
        "z": "8bc24acff1041807",
        "name": "link in read",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "0df848dfcc1c99b7"
            ]
        ]
    },
    {
        "id": "0df848dfcc1c99b7",
        "type": "function",
        "z": "8bc24acff1041807",
        "name": "set read request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst username = flow.get( 'username' );\nconst path = `/permissions/${AW_VHOST}/${username}`\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "cec898abbd371445"
            ]
        ]
    },
    {
        "id": "bbc34b6ecf58764b",
        "type": "link in",
        "z": "8bc24acff1041807",
        "name": "link delete",
        "links": [],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "40b640b0da9cba29"
            ]
        ]
    },
    {
        "id": "40b640b0da9cba29",
        "type": "function",
        "z": "8bc24acff1041807",
        "name": "set delete request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst username = flow.get( 'username' );\nconst path = `/permissions/${AW_VHOST}/${username}`\nmsg.url = path;\nmsg.method = 'DELETE';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "cec898abbd371445"
            ]
        ]
    },
    {
        "id": "50c0428b84b8dc7e",
        "type": "inject",
        "z": "8bc24acff1041807",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"consumer1\"}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "2876be81059f6536"
            ]
        ]
    },
    {
        "id": "2876be81059f6536",
        "type": "link call",
        "z": "8bc24acff1041807",
        "name": "call create",
        "links": [
            "4e5c455f143b2ddb"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "15af48ad3eafa219"
            ]
        ]
    },
    {
        "id": "99d6001e63062ec0",
        "type": "inject",
        "z": "8bc24acff1041807",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "ee4723e60e1d4314"
            ]
        ]
    },
    {
        "id": "ee4723e60e1d4314",
        "type": "link call",
        "z": "8bc24acff1041807",
        "name": "call read",
        "links": [
            "2924c32b1207ca6f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "15af48ad3eafa219"
            ]
        ]
    },
    {
        "id": "ee812a476edddbf9",
        "type": "inject",
        "z": "8bc24acff1041807",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "2b2d98eeecf6571c"
            ]
        ]
    },
    {
        "id": "2b2d98eeecf6571c",
        "type": "link call",
        "z": "8bc24acff1041807",
        "name": "call delete",
        "links": [
            "bbc34b6ecf58764b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "15af48ad3eafa219"
            ]
        ]
    },
    {
        "id": "cec898abbd371445",
        "type": "link call",
        "z": "8bc24acff1041807",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "41137d87676730b2"
            ]
        ]
    },
    {
        "id": "83d9c877ce0a43cd",
        "type": "inject",
        "z": "8bc24acff1041807",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "consumer1",
        "payloadType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "d62c47eee150155a"
            ]
        ]
    },
    {
        "id": "d62c47eee150155a",
        "type": "function",
        "z": "8bc24acff1041807",
        "name": "set username",
        "func": "const username = msg.payload;\nflow.set( 'username', username );\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "15af48ad3eafa219"
            ]
        ]
    },
    {
        "id": "3e85c5e0f282d77b",
        "type": "comment",
        "z": "8bc24acff1041807",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "ef4490e950de297a",
        "type": "debug",
        "z": "e6dee893d75f8487",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "217db069e0e67795",
        "type": "link out",
        "z": "e6dee893d75f8487",
        "name": "link out 6",
        "mode": "return",
        "links": [],
        "x": 845,
        "y": 180,
        "wires": []
    },
    {
        "id": "51f66ee79adb57c9",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "set create request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' );\n\nconst username = flow.get( 'username' );\nlet exchanges = flow.get( 'exchanges' );\nif ( ! exchanges ) {\n    exchanges = AW_EXCHANGES.split( ',' );\n}\n\nfor ( let exchange of exchanges ) {\n    const queue = `queue.${exchange}.${username}`;\n    const path = `/queues/${AW_VHOST}/${queue}`;\n    const body = {\n        auto_delete: false,\n        durable: true,\n        arguments:{},\n        // node:\"rabbit@smacmullen\"\n    };\n\n    msg.url = path;\n    msg.method = 'PUT';\n    msg.payload = body;\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "700d7711c350e1ea"
            ]
        ]
    },
    {
        "id": "d1dec8c105658e64",
        "type": "link in",
        "z": "e6dee893d75f8487",
        "name": "link in create",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "51f66ee79adb57c9"
            ]
        ]
    },
    {
        "id": "19aebb1bef4790ee",
        "type": "link in",
        "z": "e6dee893d75f8487",
        "name": "link in read",
        "links": [],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "5d09d14d62c02880"
            ]
        ]
    },
    {
        "id": "5d09d14d62c02880",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "set read request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' );\n\nconst username = flow.get( 'username' );\nlet exchanges = flow.get( 'exchanges' );\nif ( ! exchanges ) {\n    exchanges = AW_EXCHANGES.split( ',' );\n}\n\n// for ( let exchange of exchanges ) {\n    // const queue = `queue.${exchange}.${username}`;\n//    const path = `/queues/${AW_VHOST}/${queue}`;\n    const path = `/queues/${AW_VHOST}`\n    msg.url = path;\n    msg.method = 'GET';\n    msg.payload = {};\n    node.send( msg );\n// }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "700d7711c350e1ea"
            ]
        ]
    },
    {
        "id": "700d7711c350e1ea",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "217db069e0e67795"
            ]
        ]
    },
    {
        "id": "137a3afc7bc0fc9f",
        "type": "link in",
        "z": "e6dee893d75f8487",
        "name": "link delete",
        "links": [],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "c4b725d6d01cef93"
            ]
        ]
    },
    {
        "id": "c4b725d6d01cef93",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "set delete request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst AW_EXCHANGES = env.get( 'AW_EXCHANGES' );\n\nconst username = flow.get( 'username' );\nlet exchanges = flow.get( 'exchanges' );\nif ( ! exchanges ) {\n    exchanges = AW_EXCHANGES.split( ',' );\n}\n\nfor ( let exchange of exchanges ) {\n    const queue = `queue.${exchange}.${username}`;\n    const path = `/queues/${AW_VHOST}/${queue}`;\n\n    msg.url = path;\n    msg.method = 'DELETE';\n    msg.payload = {};\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "700d7711c350e1ea"
            ]
        ]
    },
    {
        "id": "d2181fc247c1f3c8",
        "type": "inject",
        "z": "e6dee893d75f8487",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "1f32928059d87d0d"
            ]
        ]
    },
    {
        "id": "1f32928059d87d0d",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call create",
        "links": [
            "d1dec8c105658e64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "ef4490e950de297a"
            ]
        ]
    },
    {
        "id": "936bf489f1689eb4",
        "type": "inject",
        "z": "e6dee893d75f8487",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "7bbe422a10db75e1"
            ]
        ]
    },
    {
        "id": "7bbe422a10db75e1",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call read",
        "links": [
            "19aebb1bef4790ee"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "ef4490e950de297a"
            ]
        ]
    },
    {
        "id": "ee96a8c42505cb24",
        "type": "inject",
        "z": "e6dee893d75f8487",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "24066d75ea8360cf"
            ]
        ]
    },
    {
        "id": "24066d75ea8360cf",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call delete",
        "links": [
            "137a3afc7bc0fc9f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "ef4490e950de297a"
            ]
        ]
    },
    {
        "id": "f239ecdf9a0662d1",
        "type": "comment",
        "z": "e6dee893d75f8487",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "7a5e410c8da77bca",
        "type": "inject",
        "z": "e6dee893d75f8487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "consumer1",
        "payloadType": "str",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "8d5b0584a9642e4c"
            ]
        ]
    },
    {
        "id": "8d5b0584a9642e4c",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "set username (& exchanges)",
        "func": "const username = msg.payload;\nflow.set( 'username', username );\n// flow.set( 'exchanges', [ \n//     'weather', \n//     'savings',\n//     'production',\n//     'result',\n// ] );\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "ef4490e950de297a"
            ]
        ]
    },
    {
        "id": "aed874d4f1b36917",
        "type": "link in",
        "z": "e6dee893d75f8487",
        "name": "link in read all",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "4eb47eaeb3907b94"
            ]
        ]
    },
    {
        "id": "4eb47eaeb3907b94",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "set read all request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/queues/${AW_VHOST}`;\nmsg.url = path;\nmsg.method = 'GET';\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "2c0b22058da1bcf5"
            ]
        ]
    },
    {
        "id": "974c4086ed73627b",
        "type": "inject",
        "z": "e6dee893d75f8487",
        "name": "read all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d93151c3e77b20b1"
            ]
        ]
    },
    {
        "id": "d93151c3e77b20b1",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call read",
        "links": [
            "aed874d4f1b36917"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "ef4490e950de297a"
            ]
        ]
    },
    {
        "id": "2c0b22058da1bcf5",
        "type": "link call",
        "z": "e6dee893d75f8487",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "e34b921b3cc54c74"
            ]
        ]
    },
    {
        "id": "e34b921b3cc54c74",
        "type": "function",
        "z": "e6dee893d75f8487",
        "name": "get response",
        "func": "const { payload } = msg;\nconst names = payload.map( x => x.name );\nmsg.payload = names;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 60,
        "wires": [
            [
                "217db069e0e67795"
            ]
        ]
    },
    {
        "id": "9952037676678f3f",
        "type": "inject",
        "z": "fc91aadf3d6bd939",
        "name": "read all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "3ab17c818bbbcc29"
            ]
        ]
    },
    {
        "id": "eac48fe21d43e372",
        "type": "debug",
        "z": "fc91aadf3d6bd939",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "ed54bdd0c19a55f3",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "get response",
        "func": "const { payload } = msg;\nconst names = payload.map( x => x.name );\nmsg.payload = names;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 60,
        "wires": [
            [
                "0818c76f6907dc08"
            ]
        ]
    },
    {
        "id": "3f6ed7435b39070a",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "ed54bdd0c19a55f3"
            ]
        ]
    },
    {
        "id": "bf788c2c1de55082",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "set read-all request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst path = `/bindings/${AW_VHOST}`\nmsg.url = path;\nmsg.method = 'GET';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "3f6ed7435b39070a"
            ]
        ]
    },
    {
        "id": "c6be618e9bbbf499",
        "type": "link in",
        "z": "fc91aadf3d6bd939",
        "name": "link in read all",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "bf788c2c1de55082"
            ]
        ]
    },
    {
        "id": "0818c76f6907dc08",
        "type": "link out",
        "z": "fc91aadf3d6bd939",
        "name": "link out 7",
        "mode": "return",
        "links": [],
        "x": 925,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ab17c818bbbcc29",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call read all",
        "links": [
            "c6be618e9bbbf499"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "eac48fe21d43e372"
            ]
        ]
    },
    {
        "id": "915fa3021e05ab88",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "set create request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst queues = msg.payload;\nconst body = {\n    // routing_key: \"my_routing_key\", \n    // arguments: {\"x-arg\": \"value\"}\n};\n\nnode.warn( queues );\nfor ( let queue of queues ) {\n    const exchange = queue.split( '.' )[ 1 ];\n    const path = `/bindings/${AW_VHOST}/e/${exchange}/q/${queue}`;\n    msg.url = path;\n    msg.payload = body;\n    msg.method = 'POST';\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "5780daf37c85284e"
            ]
        ]
    },
    {
        "id": "4c10c1eed505d5a4",
        "type": "link in",
        "z": "fc91aadf3d6bd939",
        "name": "link in create",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "9a29932584187f24"
            ]
        ]
    },
    {
        "id": "6f43ee62e41b6e2a",
        "type": "link in",
        "z": "fc91aadf3d6bd939",
        "name": "link in read",
        "links": [],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "cf51326012c532c2"
            ]
        ]
    },
    {
        "id": "40932d294578c87e",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "set read request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst queues = msg.payload;\n\nfor ( let queue of queues ) {\n    const exchange = queue.split( '.' )[ 1 ];\n    const path = `/bindings/${AW_VHOST}/e/${exchange}/q/${queue}`;\n    msg.url = path;\n    msg.method = 'GET';\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "5780daf37c85284e"
            ]
        ]
    },
    {
        "id": "5cbfd51d5df9be44",
        "type": "link in",
        "z": "fc91aadf3d6bd939",
        "name": "link delete",
        "links": [],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "b85189e1e09157ed"
            ]
        ]
    },
    {
        "id": "2e8dd8d7f98b2fc6",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "set delete request",
        "func": "const AW_VHOST = env.get( 'AW_VHOST' );\nconst queues = msg.payload;\n\nfor ( let queue of queues ) {\n    const exchange = queue.split( '.' )[ 1 ];\n    const path = `/bindings/${AW_VHOST}/e/${exchange}/q/${queue}/~`;\n    msg.url = path;\n    msg.payload = {};\n    msg.method = 'DELETE';\n    node.send( msg );\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "5780daf37c85284e"
            ]
        ]
    },
    {
        "id": "0dc0b37939fd99ab",
        "type": "inject",
        "z": "fc91aadf3d6bd939",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"consumer1\"}",
        "payloadType": "json",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "f3c4c1168ab3eadf"
            ]
        ]
    },
    {
        "id": "f3c4c1168ab3eadf",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call create",
        "links": [
            "4c10c1eed505d5a4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "eac48fe21d43e372"
            ]
        ]
    },
    {
        "id": "0eeaa333a50b9ef9",
        "type": "inject",
        "z": "fc91aadf3d6bd939",
        "name": "read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "192f94f89371e8f0"
            ]
        ]
    },
    {
        "id": "192f94f89371e8f0",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call read",
        "links": [
            "6f43ee62e41b6e2a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "eac48fe21d43e372"
            ]
        ]
    },
    {
        "id": "fe8c5df9d73b0af5",
        "type": "inject",
        "z": "fc91aadf3d6bd939",
        "name": "delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "9c787c36bcf0db8f"
            ]
        ]
    },
    {
        "id": "9c787c36bcf0db8f",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call delete",
        "links": [
            "5cbfd51d5df9be44"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "eac48fe21d43e372"
            ]
        ]
    },
    {
        "id": "5780daf37c85284e",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call RabbitMQ api",
        "links": [
            "2e4a12651ca65a7d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "0818c76f6907dc08"
            ]
        ]
    },
    {
        "id": "98e7fe307a01020a",
        "type": "inject",
        "z": "fc91aadf3d6bd939",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "consumer1",
        "payloadType": "str",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "be461b1ebff3aece"
            ]
        ]
    },
    {
        "id": "be461b1ebff3aece",
        "type": "function",
        "z": "fc91aadf3d6bd939",
        "name": "set username",
        "func": "const username = msg.payload;\nflow.set( 'username', username );\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "eac48fe21d43e372"
            ]
        ]
    },
    {
        "id": "e7d2d7645c6c6678",
        "type": "comment",
        "z": "fc91aadf3d6bd939",
        "name": "to test/debug the above operations",
        "info": "",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "9a29932584187f24",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call read all queues",
        "links": [
            "aed874d4f1b36917"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "915fa3021e05ab88"
            ]
        ]
    },
    {
        "id": "cf51326012c532c2",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call read all queues",
        "links": [
            "aed874d4f1b36917"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "40932d294578c87e"
            ]
        ]
    },
    {
        "id": "b85189e1e09157ed",
        "type": "link call",
        "z": "fc91aadf3d6bd939",
        "name": "call read all queues",
        "links": [
            "aed874d4f1b36917"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "2e8dd8d7f98b2fc6"
            ]
        ]
    }
]