flows.json
[
    {
        "id": "6d278dbe6de7a110",
        "type": "tab",
        "label": "start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23fc340d5df12a5c",
        "type": "tab",
        "label": "initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e38695607437acd",
        "type": "tab",
        "label": "logger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8d3058640f4a933",
        "type": "tab",
        "label": "timeRepr",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b196196f1ccccbbb",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7c8565c02c92dbd",
        "type": "tab",
        "label": "weather initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "369c55fe302803f7",
        "type": "tab",
        "label": "savings initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aba327fbb26c5653",
        "type": "tab",
        "label": "production initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dc82d7c84b0491f",
        "type": "tab",
        "label": "weather requests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "114ff7d842fa7dbc",
        "type": "tab",
        "label": "requests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9693c2df1733ce49",
        "type": "tab",
        "label": "weather response",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "746d8aad27723fd7",
        "type": "sqlitedb",
        "db": "./projects/athens-water/data/water.sqlite",
        "mode": "RWC"
    },
    {
        "id": "9521260f5086eed6",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "'Start' & ' (global.today: ' & $globalContext( 'today' ) & ')...'",
        "payloadType": "jsonata",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b3ce7b20bc3e9643"
            ]
        ]
    },
    {
        "id": "fece7a7b4d88138c",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call initialization",
        "links": [
            "738e025081242dfd"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "b8a42aa1c8cdc8fe"
            ]
        ]
    },
    {
        "id": "ad8fd501b129cfec",
        "type": "debug",
        "z": "6d278dbe6de7a110",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "06c779112978aaa2",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "read globals",
        "func": "msg.payload = {\n    dbPath: global.get( 'dbPath' ),\n    logPath: global.get( 'logPath' ),\n    today: global.get( 'today' ),\n    weatherMissingDates: global.get( 'weatherMissingDates' ),\n    savingsMissingDates: global.get( 'savingsMissingDates' ),\n    productionMissingDates: global.get( 'productionMissingDates' ),\n}\n//d.split('-').reverse().join('-')\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "ad8fd501b129cfec"
            ]
        ]
    },
    {
        "id": "8c28ad9eafaca440",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b48859fe2d07cd72",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "admin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 60,
        "wires": [
            [
                "0578fa751ff3e995"
            ]
        ]
    },
    {
        "id": "0578fa751ff3e995",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "clean globals",
        "func": "global.set( 'dbPath', undefined );\nglobal.set( 'logPath', undefined );\nglobal.set( 'today', undefined );\nglobal.set( 'weatherMissingDates', undefined );\nglobal.set( 'savingsMissingDates', undefined );\nglobal.set( 'productionMissingDates', undefined );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b3ce7b20bc3e9643",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "set configuration",
        "func": "const weatherUrl = \"https://archive-api.open-meteo.com/v1/archive?daily=weather_code,temperature_2m_min,temperature_2m_mean,temperature_2m_max,precipitation_sum,rain_sum,snowfall_sum&timezone=Europe/Athens&past_days=&latitude=&longitude=\";\n\n//https://www.eydap.gr/el/Controls/GeneralControls/SavingsDetails.aspx?DaysSpan=Day&Date=15-05-2024\n//https://www.eydap.gr/el/Controls/GeneralControls/DrinkingWaterProductionDetails.aspx?DaysSpan=Day&Date=15-05-2024\n\nglobal.set( 'weatherUrl', weatherUrl );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "8c28ad9eafaca440",
                "fece7a7b4d88138c"
            ]
        ]
    },
    {
        "id": "b8a42aa1c8cdc8fe",
        "type": "link call",
        "z": "6d278dbe6de7a110",
        "name": "call requests",
        "links": [
            "63cdb5618c97f18c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4064c1c68cf281a3",
        "type": "http request",
        "z": "6d278dbe6de7a110",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "8b620571267c21d4"
            ]
        ]
    },
    {
        "id": "bd22af5603fa9114",
        "type": "catch",
        "z": "6d278dbe6de7a110",
        "name": "catch http rquest",
        "scope": [
            "4064c1c68cf281a3"
        ],
        "uncaught": false,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "5fbb44a1294b907a"
            ]
        ]
    },
    {
        "id": "5fbb44a1294b907a",
        "type": "function",
        "z": "6d278dbe6de7a110",
        "name": "set error message",
        "func": "flow.set( 'error', true );\n\nconst error = msg.error.message;\nmsg.payload = error\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 580,
        "wires": [
            [
                "940f5ed5113e208b"
            ]
        ]
    },
    {
        "id": "940f5ed5113e208b",
        "type": "debug",
        "z": "6d278dbe6de7a110",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "d46eab48a5578696",
        "type": "inject",
        "z": "6d278dbe6de7a110",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://nodered.org,http://nodered.orgr,http://nodered.org",
        "payloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "a75e5eac00cc8236"
            ]
        ]
    },
    {
        "id": "8f31f11958c7a561",
        "type": "debug",
        "z": "6d278dbe6de7a110",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 500,
        "wires": []
    },
    {
        "id": "a75e5eac00cc8236",
        "type": "split",
        "z": "6d278dbe6de7a110",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "17955a662e4b7b56"
            ]
        ]
    },
    {
        "id": "17955a662e4b7b56",
        "type": "change",
        "z": "6d278dbe6de7a110",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "4064c1c68cf281a3"
            ]
        ]
    },
    {
        "id": "8b620571267c21d4",
        "type": "join",
        "z": "6d278dbe6de7a110",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "_msgid",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 870,
        "y": 400,
        "wires": [
            [
                "8f31f11958c7a561"
            ]
        ]
    },
    {
        "id": "738e025081242dfd",
        "type": "link in",
        "z": "23fc340d5df12a5c",
        "name": "link in 1",
        "links": [],
        "x": 65,
        "y": 240,
        "wires": [
            [
                "ca8788fa5c25af67"
            ]
        ]
    },
    {
        "id": "44ac029af86c87b7",
        "type": "link call",
        "z": "23fc340d5df12a5c",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6328a771de66ea",
        "type": "change",
        "z": "23fc340d5df12a5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Initialization...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "44ac029af86c87b7"
            ]
        ]
    },
    {
        "id": "a1bf9275c26311e0",
        "type": "link call",
        "z": "23fc340d5df12a5c",
        "name": "call weather initialization",
        "links": [
            "b25dc8f8d8caacd2"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "27dcd76ce8f5f7bf"
            ]
        ]
    },
    {
        "id": "42d9909734948594",
        "type": "link out",
        "z": "23fc340d5df12a5c",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 895,
        "y": 240,
        "wires": []
    },
    {
        "id": "ee7ec613d0e2aad6",
        "type": "link call",
        "z": "23fc340d5df12a5c",
        "name": "call savings initialization",
        "links": [
            "011da4bee9a0309a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "27dcd76ce8f5f7bf"
            ]
        ]
    },
    {
        "id": "31abb96db2016142",
        "type": "link call",
        "z": "23fc340d5df12a5c",
        "name": "call production initialization",
        "links": [
            "d19a62124059031a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "27dcd76ce8f5f7bf"
            ]
        ]
    },
    {
        "id": "ca8788fa5c25af67",
        "type": "function",
        "z": "23fc340d5df12a5c",
        "name": "check global.today",
        "func": "const { timeRepr } = global.get( 'dateHelpers' );\n\nconst savedToday = global.get( 'today' );\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\n\nif ( savedToday !== today ) {\n    global.set( 'today', today );\n    return [ msg, null ];\n}\n\nreturn [ null, msg ];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "5e6328a771de66ea",
                "a1bf9275c26311e0",
                "ee7ec613d0e2aad6",
                "31abb96db2016142"
            ],
            [
                "247f84776e6a43ad",
                "42d9909734948594"
            ]
        ]
    },
    {
        "id": "247f84776e6a43ad",
        "type": "change",
        "z": "23fc340d5df12a5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No initialization",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "44ac029af86c87b7"
            ]
        ]
    },
    {
        "id": "27dcd76ce8f5f7bf",
        "type": "join",
        "z": "23fc340d5df12a5c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "42d9909734948594",
                "e51dcc5365a7f98c"
            ]
        ]
    },
    {
        "id": "e51dcc5365a7f98c",
        "type": "debug",
        "z": "23fc340d5df12a5c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "1cc0862b6d0ccf91",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "write into log file",
        "filename": "${ATHENS_WATER_LOGS_PATH}/water.log",
        "filenameType": "env",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "e509d3deb26aca5f"
            ]
        ]
    },
    {
        "id": "9ae7920e8caa164f",
        "type": "link call",
        "z": "9e38695607437acd",
        "name": "call timeRepr",
        "links": [
            "97bc73569e7297c7"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "409d2af6ef2b6869"
            ]
        ]
    },
    {
        "id": "409d2af6ef2b6869",
        "type": "function",
        "z": "9e38695607437acd",
        "name": "set log message",
        "func": "const timeRepr = msg.timeRepr;\nconst entry = msg.payload;\n\nmsg.payload = `${timeRepr} ${entry}`;\n\nmsg.filename = global.get( 'logPath' );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "1cc0862b6d0ccf91"
            ]
        ]
    },
    {
        "id": "992e1a45369732e3",
        "type": "link in",
        "z": "9e38695607437acd",
        "name": "link in 3",
        "links": [],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "9ae7920e8caa164f"
            ]
        ]
    },
    {
        "id": "e509d3deb26aca5f",
        "type": "link out",
        "z": "9e38695607437acd",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc33fac1bfdac6f3",
        "type": "file",
        "z": "9e38695607437acd",
        "name": "delete log file",
        "filename": "${ATHENS_WATER_LOGS_PATH}/water.log",
        "filenameType": "env",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fd8fe79b83e94a46",
        "type": "inject",
        "z": "9e38695607437acd",
        "name": "admin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "bc33fac1bfdac6f3"
            ]
        ]
    },
    {
        "id": "97bc73569e7297c7",
        "type": "link in",
        "z": "d8d3058640f4a933",
        "name": "link in 2",
        "links": [],
        "x": 95,
        "y": 80,
        "wires": [
            [
                "ae905496d474ff8d"
            ]
        ]
    },
    {
        "id": "d1fc12086864d130",
        "type": "link out",
        "z": "d8d3058640f4a933",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 405,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae905496d474ff8d",
        "type": "function",
        "z": "d8d3058640f4a933",
        "name": "timeRepr",
        "func": "const { timeRepr } = global.get( 'dateHelpers' );\n\nmsg.timeRepr = timeRepr( new Date(), 'YYYY-MM-DD HH:MM:SS' );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "d1fc12086864d130"
            ]
        ]
    },
    {
        "id": "4f48bf4d39cb2c86",
        "type": "sqlite",
        "z": "b196196f1ccccbbb",
        "mydb": "746d8aad27723fd7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "798e2d4d2a82f43e"
            ]
        ]
    },
    {
        "id": "ab0e6d979d760a4a",
        "type": "link in",
        "z": "b196196f1ccccbbb",
        "name": "link in 4",
        "links": [],
        "x": 105,
        "y": 100,
        "wires": [
            [
                "4f48bf4d39cb2c86"
            ]
        ]
    },
    {
        "id": "798e2d4d2a82f43e",
        "type": "link out",
        "z": "b196196f1ccccbbb",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 100,
        "wires": []
    },
    {
        "id": "0934098869fcb268",
        "type": "link out",
        "z": "d7c8565c02c92dbd",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 445,
        "y": 220,
        "wires": []
    },
    {
        "id": "af66bd9217a38532",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "select last dates",
        "func": "const query = \"\\\n    SELECT DISTINCT location_id, lat, lon, MAX(date) as lastDate \\\n    FROM weather w \\\n    JOIN locations l \\\n    ON w.location_id=l.id \\\n    GROUP BY w.location_id; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "d0991d10c4ce3042"
            ]
        ]
    },
    {
        "id": "312898d0fbebd781",
        "type": "debug",
        "z": "d7c8565c02c92dbd",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "cdb267699f7f8439",
        "type": "function",
        "z": "d7c8565c02c92dbd",
        "name": "set missing dates",
        "func": "const { timeRepr, rangeToDates } = global.get( 'dateHelpers' );\n\nlet result = {};\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\nconst rows = msg.payload;\nfor ( let row of rows ) {\n\n    const { location_id, lat, lon, lastDate } = row;\n    const dates = rangeToDates( lastDate, today ).filter( d => d !== lastDate && d !== today );\n    for ( let date of dates ) {\n        result[ `${date},${location_id}` ] = { date, location_id, lat, lon };\n        // if ( result[ date ] === undefined ) {\n        //     result[ date ] = [];\n        // }\n        // result[ date ].push( { date, location_id, lat, lon } );\n    }\n}\n\n//node.warn(result)\nglobal.set( 'weatherMissingDates', result );\n\nmsg.topic = \"weatherMissingDates\"\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "0934098869fcb268",
                "312898d0fbebd781"
            ]
        ]
    },
    {
        "id": "d0991d10c4ce3042",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "cdb267699f7f8439"
            ]
        ]
    },
    {
        "id": "b25dc8f8d8caacd2",
        "type": "link in",
        "z": "d7c8565c02c92dbd",
        "name": "link in 5",
        "links": [],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "af66bd9217a38532",
                "348d3b2d2ea08315"
            ]
        ]
    },
    {
        "id": "eefbcba086f74da2",
        "type": "link call",
        "z": "d7c8565c02c92dbd",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "348d3b2d2ea08315",
        "type": "change",
        "z": "d7c8565c02c92dbd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Weather initialization...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "eefbcba086f74da2"
            ]
        ]
    },
    {
        "id": "ebe41c4a7bbaea37",
        "type": "link out",
        "z": "369c55fe302803f7",
        "name": "link out 6",
        "mode": "return",
        "links": [],
        "x": 445,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dd56f6571de845d",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "select last dates",
        "func": "const query = \"\\\n    SELECT DISTINCT MAX(date) as lastDate \\\n    FROM savings; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "f97ae6a3690ac576"
            ]
        ]
    },
    {
        "id": "0f3ea61aa2a5cc90",
        "type": "debug",
        "z": "369c55fe302803f7",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "71b1213f178004bb",
        "type": "function",
        "z": "369c55fe302803f7",
        "name": "set missing dates",
        "func": "const { timeRepr, rangeToDates } = global.get( 'dateHelpers' );\n\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\nconst rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nconst result = rangeToDates( lastDate, today ).filter( d => d !== lastDate && d !== today );\n\nglobal.set( 'savingsMissingDates', result );\n\nmsg.topic = \"savingsMissingDates\"\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "ebe41c4a7bbaea37",
                "0f3ea61aa2a5cc90"
            ]
        ]
    },
    {
        "id": "f97ae6a3690ac576",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "71b1213f178004bb"
            ]
        ]
    },
    {
        "id": "011da4bee9a0309a",
        "type": "link in",
        "z": "369c55fe302803f7",
        "name": "link in 6",
        "links": [],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "7dd56f6571de845d",
                "6e2c200dcae85106"
            ]
        ]
    },
    {
        "id": "294a83b0b2097e10",
        "type": "link call",
        "z": "369c55fe302803f7",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6e2c200dcae85106",
        "type": "change",
        "z": "369c55fe302803f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Savings initialization...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "294a83b0b2097e10"
            ]
        ]
    },
    {
        "id": "31564887a0816361",
        "type": "link out",
        "z": "aba327fbb26c5653",
        "name": "link out 7",
        "mode": "return",
        "links": [],
        "x": 445,
        "y": 220,
        "wires": []
    },
    {
        "id": "5364560e1984ad86",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "select last dates",
        "func": "const query = \"\\\n    SELECT DISTINCT MAX(date) as lastDate \\\n    FROM production; \\\n\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "361b74b727815eb2"
            ]
        ]
    },
    {
        "id": "3e705e3d11d15ff9",
        "type": "debug",
        "z": "aba327fbb26c5653",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "4440bd6878b9ac5b",
        "type": "function",
        "z": "aba327fbb26c5653",
        "name": "set missing dates",
        "func": "const { timeRepr, rangeToDates } = global.get( 'dateHelpers' );\n\nconst today = timeRepr( new Date(), 'YYYY-MM-DD' );\nconst rows = msg.payload;\nconst { lastDate } = rows[ 0 ];\nconst result = rangeToDates( lastDate, today ).filter( d => d !== lastDate && d !== today );\n\nglobal.set( 'productionMissingDates', result );\n\nmsg.topic = \"productionMissingDates\"\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "31564887a0816361",
                "3e705e3d11d15ff9"
            ]
        ]
    },
    {
        "id": "361b74b727815eb2",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call database",
        "links": [
            "ab0e6d979d760a4a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "4440bd6878b9ac5b"
            ]
        ]
    },
    {
        "id": "d19a62124059031a",
        "type": "link in",
        "z": "aba327fbb26c5653",
        "name": "link in 7",
        "links": [],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "5364560e1984ad86",
                "50ef25c358e9cabe"
            ]
        ]
    },
    {
        "id": "1888104fbbce9723",
        "type": "link call",
        "z": "aba327fbb26c5653",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "50ef25c358e9cabe",
        "type": "change",
        "z": "aba327fbb26c5653",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Production initialization...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "1888104fbbce9723"
            ]
        ]
    },
    {
        "id": "19a9ec6c9f2b7b9e",
        "type": "link in",
        "z": "1dc82d7c84b0491f",
        "name": "link in 8",
        "links": [],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "9f4755615758141a"
            ]
        ]
    },
    {
        "id": "9f4755615758141a",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set urls",
        "func": "const { rangeToCounter } = global.get( 'dateHelpers' ); \n\nflow.set( 'error', false );\n\nconst today = global.get( 'today' );\nconst data = global.get( 'weatherMissingDates' );\nconst dates = Object.keys( data ).sort();\n\nfor ( let date of dates ) {\n    for ( let location of data[ date ] ) {\n\n        if ( flow.get( 'error' ) ) {\n            return;\n        }\n\n        const past_days = rangeToCounter( date, today );\n        //node.warn( date+'-'+today+':'+past_days );\n        const { location_id, lat, lon } = location;\n\n        let url = global.get( 'weatherUrl' );\n        url = url.replace( \"past_days=\", `past_days=${past_days}` );\n        url = url.replace( \"latitude=\", `latitude=${lat}` );\n        url = url.replace( \"longitude=\", `longitude=${lon}` );\n\n        msg.url = url;\n        msg.requestParams = {\n            location_id,\n            date,\n        };\n    \n        node.send( msg, false );\n\n        return;\n    }\n}\nreturn;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 60,
        "wires": [
            [
                "7f0610dff3482bf1",
                "ac2b5d8d30275690"
            ]
        ]
    },
    {
        "id": "a11e53e1d9c313c8",
        "type": "debug",
        "z": "1dc82d7c84b0491f",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "22ccd34bf7e26e88",
        "type": "link out",
        "z": "1dc82d7c84b0491f",
        "name": "link out 9",
        "mode": "return",
        "links": [],
        "x": 885,
        "y": 120,
        "wires": []
    },
    {
        "id": "7f0610dff3482bf1",
        "type": "http request",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6a39a28a19dd323a"
            ]
        ]
    },
    {
        "id": "964550ae2599268c",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 650,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ac2b5d8d30275690",
        "type": "change",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "964550ae2599268c"
            ]
        ]
    },
    {
        "id": "c1c5e38303db67b2",
        "type": "catch",
        "z": "1dc82d7c84b0491f",
        "name": "catch http rquest",
        "scope": [
            "7f0610dff3482bf1"
        ],
        "uncaught": false,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b96bbd83a9f448e1"
            ]
        ]
    },
    {
        "id": "b96bbd83a9f448e1",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set error message",
        "func": "flow.set( 'error', true );\n\nconst error = msg.error.message;\nmsg.payload = error\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "a11e53e1d9c313c8",
                "964550ae2599268c"
            ]
        ]
    },
    {
        "id": "6a39a28a19dd323a",
        "type": "link call",
        "z": "1dc82d7c84b0491f",
        "name": "call weather response",
        "links": [
            "23c1cf63dacd68a3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "22ccd34bf7e26e88"
            ]
        ]
    },
    {
        "id": "1d74a7a5dbc508dc",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set dates",
        "func": "const data = global.get( 'weatherMissingDates' );\n\n// const dates = Object.keys( data ).sort();\n// const payload = dates.map( d => data[ d ] );\n// msg.payload = payload;\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 480,
        "wires": [
            [
                "dbb75ab868515092"
            ]
        ]
    },
    {
        "id": "dbb75ab868515092",
        "type": "split",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "5aacd9e1931d9ed8"
            ]
        ]
    },
    {
        "id": "22fe76a547891f79",
        "type": "http request",
        "z": "1dc82d7c84b0491f",
        "name": "weather http request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "e30360faf2928c91"
            ]
        ]
    },
    {
        "id": "5aacd9e1931d9ed8",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set url",
        "func": "const { rangeToCounter } = global.get( 'dateHelpers' ); \n\nconst today = global.get( 'today' );\n\nconst { date, location_id, lat, lon } = msg.payload;\nconst past_days = rangeToCounter( date, today );\n//node.warn( date+'-'+today+':'+past_days );\n\nlet url = global.get( 'weatherUrl' );\nurl = url.replace( \"past_days=\", `past_days=${past_days}` );\nurl = url.replace( \"latitude=\", `latitude=${lat}` );\nurl = url.replace( \"longitude=\", `longitude=${lon}` );\n\nmsg.url = 'http://fault'+url;\nmsg.requestParams = {\n    location_id,\n    date,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [
            [
                "22fe76a547891f79"
            ]
        ]
    },
    {
        "id": "e30360faf2928c91",
        "type": "join",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "_msgid",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "8cfa70c3d5132b47"
            ]
        ]
    },
    {
        "id": "8cfa70c3d5132b47",
        "type": "debug",
        "z": "1dc82d7c84b0491f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "e53bada2d730c6d2",
        "type": "inject",
        "z": "1dc82d7c84b0491f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "1d74a7a5dbc508dc"
            ]
        ]
    },
    {
        "id": "2a59a6e225be2fd3",
        "type": "catch",
        "z": "1dc82d7c84b0491f",
        "name": "catch http rquest",
        "scope": [
            "22fe76a547891f79"
        ],
        "uncaught": false,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "cbab6ffad9d3d134"
            ]
        ]
    },
    {
        "id": "cbab6ffad9d3d134",
        "type": "function",
        "z": "1dc82d7c84b0491f",
        "name": "set error message",
        "func": "flow.set( 'error', true );\n\nconst error = msg.error.message;\nmsg.payload = error\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "bdb90873f1bb02d0"
            ]
        ]
    },
    {
        "id": "bdb90873f1bb02d0",
        "type": "debug",
        "z": "1dc82d7c84b0491f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "63cdb5618c97f18c",
        "type": "link in",
        "z": "114ff7d842fa7dbc",
        "name": "link in 9",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "fee5dbb6282f2cde",
                "44e1b7dcce399d0d"
            ]
        ]
    },
    {
        "id": "23895f135bba12eb",
        "type": "link call",
        "z": "114ff7d842fa7dbc",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fee5dbb6282f2cde",
        "type": "change",
        "z": "114ff7d842fa7dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Requests...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "23895f135bba12eb"
            ]
        ]
    },
    {
        "id": "c18f7640c61163de",
        "type": "link call",
        "z": "114ff7d842fa7dbc",
        "name": "call weather requests",
        "links": [
            "19a9ec6c9f2b7b9e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "5802083054ec8a6e"
            ]
        ]
    },
    {
        "id": "5802083054ec8a6e",
        "type": "link out",
        "z": "114ff7d842fa7dbc",
        "name": "link out 10",
        "mode": "return",
        "links": [],
        "x": 655,
        "y": 180,
        "wires": []
    },
    {
        "id": "44e1b7dcce399d0d",
        "type": "change",
        "z": "114ff7d842fa7dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weatherMissingDates",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "c18f7640c61163de"
            ]
        ]
    },
    {
        "id": "85d241e4bba2f9f3",
        "type": "link out",
        "z": "9693c2df1733ce49",
        "name": "link out 11",
        "mode": "return",
        "links": [],
        "x": 405,
        "y": 140,
        "wires": []
    },
    {
        "id": "7250779b4afc3dc2",
        "type": "function",
        "z": "9693c2df1733ce49",
        "name": "set response",
        "func": "const { date, location_id } = msg.requestParams;\nnode.warn(msg)\nconst data = msg.payload.daily;\nfor ( let i = 0; i < data.time.length; i++ ) {\n\n    node.warn( date + '-'+ data.time[i] );\n    if ( date === data.time[ i ] ) {\n        const precipitation_sum = data.precipitation_sum[ i ];\n        msg.payload = {\n            date,\n            location_id,\n            temperature_2m_min: data.temperature_2m_min[ i ],\n            temperature_2m_mean: data.temperature_2m_min[ i ],\n            temperature_2m_max: data.temperature_2m_min[ i ],\n            precipitation_sum: data.precipitation_sum[ i ],\n            rain_sum: data.rain_sum[ i ],\n            snowfall_sum: data.snowfall_sum[ i ],\n        }\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 140,
        "wires": [
            [
                "85d241e4bba2f9f3",
                "afc02267e0efcac9"
            ]
        ]
    },
    {
        "id": "afc02267e0efcac9",
        "type": "debug",
        "z": "9693c2df1733ce49",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "23c1cf63dacd68a3",
        "type": "link in",
        "z": "9693c2df1733ce49",
        "name": "link in 10",
        "links": [],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "7250779b4afc3dc2",
                "ea8074a1dab6b17c"
            ]
        ]
    },
    {
        "id": "517981a9cbdc2a92",
        "type": "link call",
        "z": "9693c2df1733ce49",
        "name": "call logger",
        "links": [
            "992e1a45369732e3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ea8074a1dab6b17c",
        "type": "change",
        "z": "9693c2df1733ce49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Response ok",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "517981a9cbdc2a92"
            ]
        ]
    }
]